body {
    background-color: #bfe5f2;
}

.logo {
    background: url("http://avtoreshenie.infosted.bget.ru/bitrix/templates/avtoreshenie/img/logo.png") 0 0 no-repeat;
    display: block;
    width: 303px;
    height: 80px;
    background-size: contain;
}
