@charset "UTF-8";
/* colors */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0px;
  padding: 0px;
  outline: none; }

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none;
  font-weight: 500; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  background: #f4f4f4; }

ul {
  list-style: none; }

ol {
  padding-left: 15px; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

/* colors */
/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  font-family: "fira_sansregular", sans-serif; }

body {
  font-size: 1.5rem;
  line-height: 1.4; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "fira_sansmedium", sans-serif;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px; }

h1,
.h1 {
  font-size: 4.0rem;
  line-height: 4.0rem; }

h2,
.h2 {
  font-size: 3.6rem;
  line-height: 4.0rem; }

h3,
.h3 {
  font-size: 3.2rem;
  line-height: 36px; }

h4,
.h4 {
  font-size: 2.8rem; }

h5,
.h5 {
  font-size: 2.4rem; }

h6,
.h6 {
  font-size: 2.2rem; }

.h7 {
  font-size: 1.5rem; }

p {
  font-size: 1.5rem;
  padding-bottom: 10px; }

p.header {
  font-size: 2.0rem;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: "fira_sansbold", sans-serif;
  color: black; }

.hello ul {
  list-style: circle;
  margin-left: 20px; }

::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

::-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 19+ */
:-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

a {
  font-size: 1.5rem;
  color: #fc5900;
  transition: all ease-out 0.5s; }

a:hover {
  text-decoration: none; }

a.link-pdf:after {
  content: url(../images/pdf.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-doc:after {
  content: url(../images/doc.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-more {
  color: #3f4244;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative; }
  a.link-more:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../images/icon-arrow-red.png) no-repeat;
    width: 11px;
    height: 11px;
    right: -15px;
    top: 2px;
    transition: right 0.3s; }
  a.link-more:hover:after {
    right: -22px; }

.upper {
  text-transform: uppercase; }

.attention {
  color: #d7141b; }

.attention-bold {
  font-size: 14px; }

.index .h1 {
  font-size: 5rem;
  line-height: 3rem; }

.index .h1 span.h6 {
  font-size: 2.5rem;
  line-height: 2.5rem; }

div.BoxUiKit {
  margin-top: 50px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto; }

ul {
  margin: 10px 0;
  line-height: 22px; }

.arrow-list li:before {
  position: absolute;
  background: url("../img/liarrow.png") no-repeat;
  content: "";
  top: 4px;
  left: 0px;
  display: block;
  width: 15px;
  height: 12px; }

ol {
  margin-bottom: 20px;
  line-height: 22px;
  list-style: none;
  counter-reset: li; }

ol li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 9px; }

ol li:before {
  position: absolute;
  top: 2px;
  left: 0px;
  content: counter(li);
  /* В качестве данных используем счетчик */
  counter-increment: li;
  /* Увеличиваем значение счетчика на 1 */
  color: #fff;
  min-width: 20px;
  height: 20px;
  font-size: 12px;
  background: #2c3e50;
  border-radius: 5px;
  text-align: center;
  line-height: 0px;
  padding: 9px 0px; }

.button {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-align: center;
  font-size: 1.6rem; }

.button.borderbt {
  border: 2px solid #000;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  text-align: center; }

.borderbt.borderorange {
  border: 2px solid #ff5a00;
  color: #ff5a00; }

.borderbt.borderorange:hover {
  background: #ff5a00;
  color: #fff; }

.button.blue {
  background: #4aa3df; }

.button.red {
  background: #d14233; }

.button.lightorange {
  background: #f4a62a; }

.button.orange {
  background: #ff6c00; }
  .button.orange:hover {
    background: #c54600; }

.button.green {
  background: #2cc36b; }

.button.colorwaev {
  background: #19b698; }

.button.deffaultsize {
  width: 150px;
  height: 30px;
  padding: 8px 10px; }

.button.smallsize {
  width: 65px;
  height: 30px;
  padding: 8px 2px; }

.button.middlesize {
  width: 100px;
  height: 30px;
  padding: 8px 5px; }

.button.bigersize {
  width: 180px;
  height: 55px;
  padding: 15px 5px;
  font-size: 1.5rem;
  text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2);
  color: white; }

.button:disabled {
  color: #2c3e50;
  border: 2px solid #2c3e50;
  padding: 6px 10px;
  cursor: not-allowed; }

.button:disabled:hover {
  box-shadow: none; }

.button:disabled:active {
  background: none; }

.button.arrow {
  text-align: left; }

.button.arrow:active {
  padding: 6px 8px; }

.button.gray {
  display: none;
  border-radius: 4px;
  color: #a1a1a1;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #a1a1a1;
  padding: inherit; }
  .button.gray:hover {
    background: #fd5900;
    color: #fff; }

.button-view {
  display: inline-block;
  cursor: pointer;
  width: 47px;
  height: 47px;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .button-view svg {
    width: 12px;
    height: 12px; }
  .button-view.active, .button-view:hover {
    background: #d7d7d7; }

.button.empty {
  cursor: pointer;
  color: black;
  margin-top: 15px;
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 175px;
  height: 45px;
  padding: 10px 0px;
  border: 1px solid #cecece; }
  .button.empty:hover {
    background: #cecece; }

.button.simple {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  border-radius: 4px;
  height: 40px;
  line-height: 28px;
  text-align: center;
  color: #000;
  font-size: 1.5rem; }
  .button.simple:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%); }

.button.prev {
  width: 185px; }
  .button.prev svg {
    position: absolute;
    height: 15px;
    top: 13px;
    left: 13px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.button.next {
  width: 185px; }
  .button.next svg {
    position: absolute;
    height: 15px;
    top: 13px;
    right: 13px;
    transform: rotate(0deg); }

[data-role="disabled"] {
  color: #2c3e50;
  border: 2px solid #2c3e50;
  padding: 6px 10px;
  cursor: not-allowed; }

.button.deffaultsize[data-role="disabled"] {
  color: #2c3e50;
  border: 2px solid #2c3e50;
  padding: 6px 10px;
  cursor: not-allowed; }

[data-role="disabled"]:hover {
  box-shadow: none; }

[data-role="disabled"]:active {
  background: none; }

.onoffswitch {
  position: relative;
  width: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 7px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 11px;
  color: white; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #2CC36B;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #2C3E50;
  color: #FFFFFF;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 13px;
  margin: 5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 34px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  color: #20282f;
  font-family: 'PT Sans Caption', sans-serif; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -22px; }

input[type=checkbox].css-checkbox:disabled + label.css-label {
  background-image: url("../img/csscheckboxdes.png");
  cursor: not-allowed; }

input[type=checkbox].css-checkbox:checked:disabled + label.css-label {
  background-position: 0 -22px; }

input[type=checkbox].css-checkbox + label.css-label {
  background-image: url("../img/csscheckbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=radio].css-checkbox + label.css-label {
  padding-left: 34px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  color: #20282f; }

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -22px; }

input[type=radio].css-checkbox:disabled + label.css-label {
  background-image: url("../img/cssradiobtdes.png");
  cursor: not-allowed; }

input[type=radio].css-checkbox:checked:disabled + label.css-label {
  background-position: 0 -22px; }

input[type=radio].css-checkbox + label.css-label {
  background-image: url("../img/cssradiobt.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.pagination {
  overflow: hidden;
  margin-bottom: 20px; }

div.pagination.default a {
  width: 28px;
  height: 28px;
  padding: 5px 5px;
  color: #353f48; }

div.pagination.big a {
  width: 38px;
  height: 38px;
  padding: 9px 5px;
  color: #353f48;
  font-size: 17px; }

div.pagination.small a {
  width: 23px;
  height: 23px;
  padding: 4px 5px;
  color: #353f48;
  font-size: 14px; }

div.pagination a {
  float: left;
  display: block;
  text-decoration: none;
  background: #f3f3f3;
  text-align: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  font-size: 16px; }

div.pagination a:hover {
  background: #4aa3df;
  border-top: 1px solid #4aa3df;
  border-bottom: 1px solid #4aa3df;
  border-right: 1px solid #4aa3df;
  color: #fff;
  box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44); }

div.pagination a.act {
  background: #2cc36b;
  border-top: 1px solid #2cc36b;
  border-bottom: 1px solid #2cc36b;
  border-right: 1px solid #2cc36b;
  color: #fff; }

div.pagination a.act:hover {
  box-shadow: none; }

div.pagination a svg {
  width: 10px;
  height: 11px; }

div.pagination a svg path {
  fill: #353f48 !important; }

div.pagination a:hover svg path {
  fill: #ffffff !important; }

div.pagination a.prew {
  border-left: 1px solid #e3e3e3;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

div.pagination a.prew:hover {
  border-left: 1px solid #4aa3df; }

div.pagination a.prew svg {
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg); }

div.pagination a.next {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.navigation {
  position: relative;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  color: #353f48;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #f3f3f3;
  width: 150px;
  height: 28px;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration: none; }

.navigation:hover {
  background: #4aa3df;
  box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
  color: #fff; }

.navigation:hover span svg path {
  fill: #fff !important; }

.navigation span {
  position: absolute; }

.navigation span svg {
  width: 10px;
  height: 11px; }

.navigation.prew span {
  left: 16px;
  top: 5px;
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg); }

.navigation.next span {
  right: 18px;
  top: 8px; }

.navigation[data-role="disabled"] {
  color: #2c3e50;
  border: 1px solid #e3e3e3;
  padding: 6px 10px;
  cursor: not-allowed;
  background: #f3f3f3;
  color: #a3a3a3; }

.navigation[data-role="disabled"] svg path {
  fill: #a3a3a3 !important; }

.navigation[data-role="disabled"]:hover svg path {
  fill: #a3a3a3 !important; }

.navigation[data-role="disabled"]:hover {
  box-shadow: none;
  background: #f3f3f3; }

.navigation[data-role="disabled"]:active {
  background: #f3f3f3; }

.navigation:disabled {
  color: #2c3e50;
  border: 1px solid #e3e3e3;
  padding: 6px 10px;
  cursor: not-allowed;
  background: #f3f3f3;
  color: #a3a3a3; }

.navigation:disabledsvg path {
  fill: #a3a3a3 !important; }

.navigation:disabled:hover svg path {
  fill: #a3a3a3 !important; }

.navigation:disabled:hover {
  box-shadow: none;
  background: #f3f3f3; }

.navigation:disabled:active {
  background: #f3f3f3; }

.navigation.more {
  width: 65px;
  text-align: right; }

.navigation.more span {
  left: 10px;
  top: 6px;
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg); }

table {
  width: 100%;
  color: black; }
  table tr.active {
    background: rgba(140, 214, 60, 0.31); }
  table tr th {
    font-size: 14px;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    padding: 20px 30px;
    text-align: center; }
    table tr th:first-child {
      text-align: left; }
  table tr td {
    border-bottom: 1px solid #cecece;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center; }
    table tr td:nth-child(1) {
      font-size: 16px;
      text-align: left;
      text-transform: none; }
  table tr:hover {
    background: #ff5a00;
    color: #fff; }
    table tr:hover:nth-child(1) {
      background: none;
      color: #000; }

.tabs_cont {
  background: #fff;
  position: relative;
  z-index: 2;
  min-height: 230px;
  padding: 10px 10px;
  border-top: 1px solid #e4e4e4; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5 {
  position: static;
  left: 0;
  opacity: 1; }

nav.menu {
  margin-bottom: 20px;
  height: 30px; }

nav.menu ul li {
  padding-left: 0;
  float: left;
  margin-bottom: 0px;
  height: 37px; }

nav.menu ul li:before {
  display: none; }

nav.menu ul li a {
  text-decoration: none;
  color: #353f48;
  font-size: 14px;
  min-width: 100px;
  border-radius: 4px;
  display: block;
  text-align: center;
  padding: 4px 10px; }

nav.menu ul li:hover > a {
  background: #4aa3df;
  box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
  color: #fff; }

nav.menu ul li.act a {
  color: #fff;
  background: #2cc36b; }

nav.menu ul li.act:hover a {
  background: #4aa3df;
  box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
  color: #fff; }

nav.menu ul li.haveChildren {
  position: relative; }

nav.menu ul li.haveChildren svg {
  width: 9px;
  height: 6px;
  margin-left: 10px; }

nav.menu ul li.haveChildren:hover svg path {
  fill: #fff !important; }

nav.menu ul li.haveChildren:hover svg {
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-180deg); }

nav.menu ul li.haveChildren ul.sbmenu {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  display: block;
  top: 400%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  min-width: 200px; }

nav.menu ul li.haveChildren ul.sbmenu:before,
nav.menu ul li.haveChildren ul.sbmenu:after {
  position: absolute;
  content: "";
  top: -6px;
  left: 10%; }

nav.menu ul li.haveChildren ul.sbmenu:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ebebeb; }

nav.menu ul li.haveChildren ul.sbmenu:after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #fff;
  left: 11%;
  top: -3px; }

nav.menu ul li.haveChildren ul.sbmenu li {
  float: none;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0px;
  font-size: 14px;
  text-align: left;
  height: auto; }

nav.menu ul li.haveChildren ul.sbmenu li a {
  width: 100%;
  text-align: left;
  border-radius: 0px; }

nav.menu ul li.haveChildren ul.sbmenu li:first-child a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

nav.menu ul li.haveChildren ul.sbmenu li:last-child a {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

nav.menu ul li.haveChildren ul.sbmenu li:last-child {
  border-right: none; }

nav.menu ul li.haveChildren:hover ul.sbmenu {
  top: 100%;
  visibility: visible;
  opacity: 1; }

nav.menu ul li.haveChildren ul.sbmenu span {
  color: #a4abb2;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 10px;
  padding: 5px 10px;
  display: block; }

nav.menu[data-rolle="hirzontal"] {
  height: auto;
  display: table;
  width: auto;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-width: 202px; }

nav.menu[data-rolle="hirzontal"] ul {
  margin-bottom: 0px; }

nav.menu[data-rolle="hirzontal"] ul li {
  position: relative;
  float: none;
  height: 30px;
  border-bottom: 1px solid #ebebeb;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

nav.menu[data-rolle="hirzontal"] ul li:last-child {
  border-bottom: 0px; }

nav.menu[data-rolle="hirzontal"] ul li a {
  border-radius: 0px;
  text-align: left;
  width: 100%; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren {
  position: relative; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren svg {
  position: absolute;
  top: 10px;
  right: 10px; }

nav.menu[data-rolle="hirzontal"] ul li:first-child a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

nav.menu[data-rolle="hirzontal"] ul li:last-child a {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu {
  position: relative;
  top: 0px;
  border: none;
  border-radius: 0px;
  visibility: visible;
  z-index: 2;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
  min-width: 200px; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren.act ul.sbmenu {
  top: 0px;
  display: none;
  opacity: 1; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu li {
  background: #fff; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu li a {
  padding-left: 25px;
  border-radius: 0px; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu:after,
nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu:before {
  display: none; }

nav.menu[data-rolle="hirzontal"] ul li.haveChildren.act {
  height: auto; }

nav.menu ul li.haveChildren ul.sbmenu[data-rolle="point"] li:before {
  display: block;
  background: none;
  content: "•";
  left: 10px;
  font-size: 16px;
  color: #20282f; }

nav.menu ul li.haveChildren ul.sbmenu[data-rolle="point"] li:hover:before {
  color: #fff; }

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  display: block;
  left: 200%;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  min-width: 200px; }

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren:hover ul.submenuCld {
  left: 100%;
  visibility: visible;
  opacity: 1; }

nav.menu[data-rolle="hirzontal"] ul li ul.submenuCld:before,
nav.menu[data-rolle="hirzontal"] ul li ul.submenuCld:after {
  position: absolute;
  content: "";
  top: 10%;
  left: -6px; }

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld:before {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ebebeb; }

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld:after {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid #fff;
  top: 11%;
  left: -3px; }

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  /* фиксированное поцизионирование */
  cursor: default;
  /* тип курсара */ }

/* активируем слой затемнения */
.overlay:target {
  display: block; }

/* стили модального окна */
.modal {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }
  .modal p.header {
    margin: 10px 0 15px 0; }
  .modal img {
    width: 100%;
    height: auto; }
  .modal embed, .modal iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%; }

/* активируем модальный блок */
.overlay:target + .modal {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%; }

/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  border: 0px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background-color: #F95E0A;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px "Tahoma", Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s; }
  .close:before {
    color: #fff;
    content: "X";
    font-size: 15px;
    line-height: 30px; }
  .close:hover {
    background-color: #333;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/* NAVIGATION */
.nav-container {
  position: absolute;
  top: 50%;
  width: 100%; }

.nav-medium {
  width: 40px;
  height: 40px; }

.nav-large {
  width: 27px;
  height: 50px; }

.nav-left, .nav-right {
  background: url(../img/slider-arrow.png) 50% 50% no-repeat, #f95e0a;
  float: left;
  cursor: pointer;
  margin-top: -20px; }

.nav-right {
  transform: scale(-1, 1);
  float: right; }

.nav-center {
  top: 50%;
  position: absolute;
  margin-top: -25px; }

.nav-center-right, .nav-center-left {
  background: url(../images/nav-thin-red.png) no-repeat;
  background-size: contain;
  right: 30px;
  cursor: pointer; }

.nav-center-left {
  transform: scale(-1, 1);
  left: 30px; }

.owl-dots {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 160px;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 15px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 5px; }
    .owl-dots .owl-dot:hover {
      background: white; }
    .owl-dots .owl-dot.active {
      background: white; }

/*# sourceMappingURL=owl.carousel.css.map */
/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/
/* =====================================================================================================================
// RangeSlider */
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important; }

.irs-line-left, .irs-line-mid, .irs-line-right {
  position: absolute;
  display: block;
  top: 0; }

.irs-line-left {
  left: 0;
  width: 11%; }

.irs-line-mid {
  left: 9%;
  width: 82%; }

.irs-line-right {
  right: 0;
  width: 11%; }

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0; }

.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0; }

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0; }

.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1; }

.irs-slider.type_last {
  z-index: 2; }

.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default; }

.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default; }

.irs-from, .irs-to, .irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap; }

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; }

.irs-with-grid .irs-grid {
  display: block; }

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000; }

.irs-grid-pol.small {
  height: 4px; }

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000; }

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: transparent;
  z-index: 2; }

.irs-disabled {
  opacity: 0.4; }

.lt-ie9 .irs-disabled {
  filter: alpha(opacity=40); }

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important; }

/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/
/* =====================================================================================================================
// Skin details */
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: url(../img/sprite-skin-nice-top.png) repeat-x; }

.irs {
  height: 40px; }

.irs-with-grid {
  height: 60px; }

.irs-line {
  height: 8px;
  top: 25px; }

.irs-line-left {
  height: 8px;
  background-position: 0 -30px;
  border-left: 1px solid #ff5a00; }

.irs-line-mid {
  height: 8px;
  background-position: 0 0; }

.irs-line-right {
  height: 8px;
  background-position: 100% -30px;
  border-right: 1px solid #ff5a00; }

.irs-bar {
  height: 8px;
  top: 25px;
  background-position: 0 -60px; }

.irs-bar-edge {
  top: 25px;
  height: 8px;
  width: 11px;
  background-position: 0 -90px; }

.irs-shadow {
  height: 1px;
  top: 34px;
  background: #000;
  opacity: 0.15; }

.lt-ie9 .irs-shadow {
  filter: alpha(opacity=15); }

.irs-slider {
  cursor: pointer;
  width: 13px;
  height: 23px;
  top: 17px;
  background-position: -8px -119px; }

.irs-slider.state_hover, .irs-slider:hover {
  background-position: -8px -149px; }

.irs-slider.to {
  width: 15px;
  background-position: -6px -119px; }

.irs-slider.to:hover {
  width: 15px;
  background-position: -6px -149px; }

.irs-min, .irs-max {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.333;
  text-shadow: none;
  top: -3px;
  padding: 1px 0px; }

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc; }

.irs-from, .irs-to, .irs-single {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.333;
  text-shadow: none;
  top: -3px;
  padding: 1px 0px; }

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999; }

.irs-grid-pol {
  background: #99a4ac; }

.irs-grid-text {
  color: #99a4ac; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    border: none;
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 5px 5px 11px; }
  .select2-search--dropdown .select2-search__field {
    padding: 10px;
    width: 100%;
    border-radius: 0px;
    padding-right: 25px;
    background: url(../img/icon-search.png) 98% no-repeat;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-container--classic .select2-selection--multiple {
  cursor: text;
  height: 55px;
  background-color: #ecf7fb;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
  height: 45px;
  background: inherit; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border-radius: 4px;
  height: 55px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 55px;
    padding: 0 20px;
    height: 55px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    width: 20px;
    top: 50%;
    margin-top: -13px;
    right: 10px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #bfe5f2; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #7fcbe5;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
  font-weight: 600; }

.select2-container--classic .select2-selection--single {
  height: 55px;
  background-color: #ecf7fb;
  outline: 0; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 55px;
    height: 55px;
    padding: 0 20px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    border: none;
    height: 26px;
    position: absolute;
    width: 20px;
    top: 50%;
    margin-top: -13px;
    right: 10px; }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-selection--multiple {
  cursor: text;
  height: 55px;
  background-color: #ecf7fb;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple .select2-results__message {
    font-size: 1.2rem; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: 50px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #ecf7fb;
    cursor: default;
    height: 45px;
    color: #10495d;
    line-height: 45px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 10px;
    width: 95%;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #d41616;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    float: right; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #7fcbe5;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  font-family: "fira_sansregular", sans-serif; }

body {
  font-size: 1.5rem;
  line-height: 1.4; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "fira_sansmedium", sans-serif;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px; }

h1,
.h1 {
  font-size: 4.0rem;
  line-height: 4.0rem; }

h2,
.h2 {
  font-size: 3.6rem;
  line-height: 4.0rem; }

h3,
.h3 {
  font-size: 3.2rem;
  line-height: 36px; }

h4,
.h4 {
  font-size: 2.8rem; }

h5,
.h5 {
  font-size: 2.4rem; }

h6,
.h6 {
  font-size: 2.2rem; }

.h7 {
  font-size: 1.5rem; }

p {
  font-size: 1.5rem;
  padding-bottom: 10px; }

p.header {
  font-size: 2.0rem;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: "fira_sansbold", sans-serif;
  color: black; }

.hello ul {
  list-style: circle;
  margin-left: 20px; }

::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

::-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 19+ */
:-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

a {
  font-size: 1.5rem;
  color: #fc5900;
  transition: all ease-out 0.5s; }

a:hover {
  text-decoration: none; }

a.link-pdf:after {
  content: url(../images/pdf.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-doc:after {
  content: url(../images/doc.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-more {
  color: #3f4244;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative; }
  a.link-more:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../images/icon-arrow-red.png) no-repeat;
    width: 11px;
    height: 11px;
    right: -15px;
    top: 2px;
    transition: right 0.3s; }
  a.link-more:hover:after {
    right: -22px; }

.upper {
  text-transform: uppercase; }

.attention {
  color: #d7141b; }

.attention-bold {
  font-size: 14px; }

.index .h1 {
  font-size: 5rem;
  line-height: 3rem; }

.index .h1 span.h6 {
  font-size: 2.5rem;
  line-height: 2.5rem; }

.fixblock {
  position: relative;
  max-width: 1060px;
  padding: 0px 30px;
  margin: 0 auto; }

.block {
  padding: 25px 0;
  display: inline-block;
  width: 100%; }
  .block--light {
    background: #f8f8f8; }
  .block--cta {
    padding: 0; }

.b-block._blue {
  background: #bfe5f2;
  border-top: 1px solid #acd7e6;
  border-bottom: 1px solid #acd7e6; }

.b-block .choose-block > div {
  width: inherit;
  margin-right: inherit; }

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center; }

.clear {
  clear: both; }

.divider {
  height: 1px;
  width: 100%;
  background-color: #606060; }

.divider-vertical {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #3f4244; }

.responsive {
  width: 100%;
  height: auto; }

.sticky {
  width: 100%;
  top: 0;
  left: 0;
  background: #fbfbfb;
  z-index: 2;
  box-shadow: 0 0 3px #333;
  position: fixed; }
  .sticky-margin {
    margin-top: 160px !important; }
  .sticky.top-header {
    padding: 20px 0; }
  .sticky.display-center {
    justify-content: center; }
  .sticky .review-stat {
    width: 570px; }
  .sticky .h7 {
    width: 430px; }
  .sticky .phone {
    font-size: 1.8rem;
    display: block !important; }

.display-between {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.display-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .display-center > * {
    margin-top: 0;
    margin-bottom: 0; }
  .display-center .info {
    padding-left: 20px; }

.display-tile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .display-tile > * {
    margin: 15px;
    text-align: center;
    max-width: 80px; }

.display-article {
  display: flex;
  align-items: flex-start; }
  .display-article img {
    margin-right: 20px; }

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3; }

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9; } }

@-webkit-keyframes bg-city {
  0% {
    background-position: 0 100%; }
  100% {
    background-position: -70% 100%; } }

@-webkit-keyframes car-drive {
  0% {
    left: 500px; }
  30% {
    left: 1200px; }
  50% {
    left: 1200px; }
  100% {
    left: 2500px; } }

@-webkit-keyframes service-drive {
  0% {
    left: 2000px; }
  100% {
    left: 1200px; } }

/* colors */
/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  font-family: "fira_sansregular", sans-serif; }

body {
  font-size: 1.5rem;
  line-height: 1.4; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "fira_sansmedium", sans-serif;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px; }

h1,
.h1 {
  font-size: 4.0rem;
  line-height: 4.0rem; }

h2,
.h2 {
  font-size: 3.6rem;
  line-height: 4.0rem; }

h3,
.h3 {
  font-size: 3.2rem;
  line-height: 36px; }

h4,
.h4 {
  font-size: 2.8rem; }

h5,
.h5 {
  font-size: 2.4rem; }

h6,
.h6 {
  font-size: 2.2rem; }

.h7 {
  font-size: 1.5rem; }

p {
  font-size: 1.5rem;
  padding-bottom: 10px; }

p.header {
  font-size: 2.0rem;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: "fira_sansbold", sans-serif;
  color: black; }

.hello ul {
  list-style: circle;
  margin-left: 20px; }

::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

::-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 19+ */
:-moz-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.5rem;
  color: #b8b8b8; }

a {
  font-size: 1.5rem;
  color: #fc5900;
  transition: all ease-out 0.5s; }

a:hover {
  text-decoration: none; }

a.link-pdf:after {
  content: url(../images/pdf.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-doc:after {
  content: url(../images/doc.png);
  position: relative;
  top: 7px;
  margin-left: 10px; }

a.link-more {
  color: #3f4244;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative; }
  a.link-more:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../images/icon-arrow-red.png) no-repeat;
    width: 11px;
    height: 11px;
    right: -15px;
    top: 2px;
    transition: right 0.3s; }
  a.link-more:hover:after {
    right: -22px; }

.upper {
  text-transform: uppercase; }

.attention {
  color: #d7141b; }

.attention-bold {
  font-size: 14px; }

.index .h1 {
  font-size: 5rem;
  line-height: 3rem; }

.index .h1 span.h6 {
  font-size: 2.5rem;
  line-height: 2.5rem; }

html {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  background-color: #f4f4f4;
  color: #0f3049; }

a {
  position: relative; }

.header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

footer {
  padding: 30px 50px;
  background: #bfe5f2;
  color: #5b676b;
  border-top: 1px solid #acd7e6;
  border-bottom: 1px solid #acd7e6; }
  footer .menu {
    float: left; }
  footer .entrance-block {
    float: right; }
    footer .entrance-block a {
      color: white; }
    footer .entrance-block span {
      color: white; }

.top-block {
  padding: 10px 0px;
  background: #f4f4f4; }
  .top-block .entrance-block {
    float: right; }

.entrance-block span {
  display: inline-block;
  margin: 0 5px; }

.entrance-block a {
  font-size: 1.6rem;
  color: #191717; }

.entrance-block svg {
  margin: 0px 6px -3px 0; }

.car-animate {
  -webkit-animation: car-drive 3s cubic-bezier(0.64, -0.03, 0.45, 0.53);
  animation-fill-mode: forwards;
  animation-delay: 1.5s; }

.service-animate {
  -webkit-animation: service-drive 2s linear alternate;
  animation-fill-mode: forwards; }

.city-animate {
  -webkit-animation: bg-city 2s linear alternate;
  animation-fill-mode: forwards; }
  .city-animate-after {
    -webkit-animation: bg-city-after 2s linear alternate;
    animation-fill-mode: forwards; }

.hello-block {
  position: relative;
  overflow: hidden;
  background: #bfe5f2;
  background-image: url("../img/bgheader.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  height: 480px;
  padding: 40px 0; }
  .hello-block__text {
    text-align: center; }
  .hello-block__car {
    position: absolute;
    bottom: 0;
    left: 500px; }
  .hello-block__service {
    position: absolute;
    bottom: 0;
    left: 2000px; }

.logo {
  background: url("../img/logo.png") 0 0 no-repeat;
  display: block;
  width: 182px;
  height: 69px;
  background-size: contain; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .menu ul > li {
    display: inline-block; }
  .menu a {
    color: #444;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    border: 3px solid transparent; }
    .menu a:hover,
    .menu a.active {
      background: #bfe5f2;
      color: #191817; }

.content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background: #f4f4f4;
  padding: 15px 0; }
  .content .content {
    padding: 0; }

.b-select label {
  display: block;
  width: 100%; }

.filter {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 20px 0; }
  .filter-more {
    margin-top: 20px;
    display: none; }
  .filter-part {
    width: 32%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    .filter-part label {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 10px; }
  .filter .more {
    position: relative;
    width: 100%;
    width: 100%;
    margin-top: 15px;
    margin-right: 85px;
    text-align: right; }
    .filter .more.act:after {
      content: "▲"; }
    .filter .more a {
      color: #4e4e4e; }
    .filter .more:after {
      position: absolute;
      content: "▼";
      font-size: 12px;
      top: 2px;
      right: -14px; }
  .filter .button {
    background: #ff5a00; }

.service-block {
  padding: 0 0 20px 0;
  overflow: hidden; }

.service-card {
  float: left;
  width: 180px;
  height: 280px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d8d8d8;
  background: #fff;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center; }
  .service-card > p {
    font-size: 1.6rem; }
  .service-card div.price {
    font-size: 2.0rem; }
    .service-card div.price span {
      font-family: "fira_sansmedium", sans-serif; }
  .service-card .h7 {
    text-transform: none;
    min-height: 50px;
    margin: 10px 0 0 0; }
  .service-card:hover .icon-circle {
    background: #f6cb6d; }
    .service-card:hover .icon-circle span {
      background: #ff5a00; }
  .service-card.row {
    width: 100%;
    min-height: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 10px 0;
    text-align: left; }
    .service-card.row div.info {
      flex-basis: 82%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .icon-circle span {
    top: 0px;
    right: -15px;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ff8e51;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white; }

.map-info {
  width: 300px;
  background: #f4f4f4;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 20%; }
  .map-info p.header {
    padding: 10px 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0; }
  .map-info .textblock {
    padding: 10px 25px; }
    .map-info .textblock .h7 {
      margin-bottom: 0; }
    .map-info .textblock p {
      font-size: 1.4rem;
      margin-bottom: 10px; }
    .map-info .textblock p.info {
      line-height: 18px; }
    .map-info .textblock .display-list {
      margin: 0; }
    .map-info .textblock .button {
      width: 100%;
      font-size: 1.6rem;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;
      text-align: center; }
    .map-info .textblock img {
      margin: 5px 0; }

/* DECOR */
hr {
  margin: 15px 0;
  background-color: #e3e3e3;
  border: 0px none;
  height: 1px;
  width: 100%;
  clear: both; }

.tabs section, .tabs label.tab:hover section, .tabs input:checked + label.tab section {
  display: none;
  flex-basis: 100%;
  overflow: hidden;
  padding: 25px 0; }

.tabs input, .tabs label.tab:hover input, .tabs input:checked + label.tab input {
  display: none; }

.tabs label.tab, .tabs label.tab:hover label.tab, .tabs input:checked + label.tab label.tab {
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px 5px 0px 0px; }

.tabs #popular-brands-content .display-tile > * {
  -webkit-flex: 1;
  flex: 1;
  max-width: inherit;
  padding: 5px 5px;
  border-radius: 3px;
  min-width: 110px; }

.tabs #popular-brands-content .display-tile div:hover {
  background: rgba(255, 255, 255, 0.5); }

.tabs label.tab:hover, .tabs input:checked + label.tab label.tab:hover {
  color: white;
  background: black; }

.tabs input:checked + label.tab, .tabs label.tab:hover input:checked + label.tab {
  color: white;
  background: black;
  display: none; }

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#popular-brands:checked ~ #popular-brands-content,
#all-brands:checked ~ #all-brands-content {
  display: block; }

.map-wrapper {
  width: 100%;
  height: 580px;
  background: grey;
  position: relative; }

.bottom-links {
  padding: 40px 0 20px 0; }
  .bottom-links .link-block {
    display: inline-block;
    width: 33%;
    float: left; }
    .bottom-links .link-block .h7 {
      font-size: 1.9rem;
      text-transform: none; }
    .bottom-links .link-block.link-block--brands ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
    .bottom-links .link-block.link-block--brands li {
      flex-basis: 50%; }
  .bottom-links li {
    margin-bottom: 5px;
    font-size: 1.5rem; }
    .bottom-links li > a {
      color: #fc5900; }

.choose-block {
  z-index: 999;
  position: relative; }
  .choose-block._filter {
    position: relative;
    padding: 15px 0px 15px 0px; }
    .choose-block._filter .select2-container--classic .select2-selection--single .select2-selection__rendered {
      line-height: 37px;
      height: 37px; }
    .choose-block._filter .select2-container--classic .select2-selection--single {
      line-height: 37px;
      height: 37px; }
    .choose-block._filter a.submit {
      width: 100%;
      line-height: 12px;
      height: 37px;
      text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2); }
    .choose-block._filter a.more-filter {
      bottom: 0;
      font-size: 1.5rem;
      position: absolute;
      padding: 3px 25px;
      background: #86b5c5;
      color: white;
      text-decoration: none;
      left: 50%;
      margin-left: -120px;
      margin-bottom: -25px; }
      .choose-block._filter a.more-filter:hover {
        opacity: .9; }
  .choose-block > div {
    flex-grow: 1;
    width: 100%;
    margin-right: 20px; }
    .choose-block > div:last-of-type {
      margin-right: 0; }
  .choose-block .select-big {
    width: 100%; }
  .choose-block > a {
    flex-grow: 1; }
  .choose-block > .select {
    flex-grow: 1;
    margin-right: 20px; }
  .choose-block input[type="submit"] {
    width: 100%;
    margin-top: 40px;
    text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;
    font-family: "fira_sansmedium", sans-serif; }

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0; }
  .paginator .simple {
    margin-right: 8px;
    width: 40px; }
    .paginator .simple.next {
      width: 185px;
      margin-right: 0; }
    .paginator .simple.prev {
      width: 185px; }
    .paginator .simple:hover {
      background: #fd610b;
      color: #fff; }
      .paginator .simple:hover svg {
        fill: white; }
    .paginator .simple.active {
      background: #0a0a0a;
      color: #fff; }

.company-brands img {
  width: 60px;
  height: 60px; }

.company-card {
  height: 250px;
  margin: 20px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px; }
  .company-card:hover {
    background-color: #fef9f2; }
    .company-card:hover .company-name {
      color: #fc5900; }
    .company-card:hover .info__content--right .phone-block:after {
      color: #ff5a00; }
    .company-card:hover svg.pulse-button {
      -webkit-animation: pulse 3s infinite cubic-bezier(0.6, 0, 0, 1); }
  .company-card .company-card__info {
    width: 760px;
    height: 248px;
    border-right: 1px solid #f0f0f0;
    float: left; }
  .company-card .info__header {
    height: 60px;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0; }
    .company-card .info__header span.company-name {
      width: 488px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      color: #333;
      font-family: "fira_sansmedium", sans-serif;
      font-size: 24px;
      line-height: 60px; }
    .company-card .info__header span.rating {
      line-height: 60px;
      color: black;
      font-size: 23px;
      float: right; }
      .company-card .info__header span.rating:before {
        content: '';
        border-left: 1px solid #e2e2e2;
        padding-left: 12px; }
      .company-card .info__header span.rating:after {
        content: url(../img/like.png);
        padding-left: 5px; }
    .company-card .info__header a.review-link {
      padding-right: 13px;
      line-height: 60px;
      color: #acdcf6;
      font-size: 14px;
      float: right; }
  .company-card .company-card__price {
    float: right;
    width: 238px;
    position: relative;
    height: 100%; }
    .company-card .company-card__price img {
      margin: 20px auto;
      display: block; }
    .company-card .company-card__price p {
      text-align: center;
      color: #333;
      height: 70px;
      font-size: 16px;
      margin-bottom: 0; }
    .company-card .company-card__price p.price {
      padding-top: 0;
      font-size: 20px;
      font-family: "fira_sansbold", sans-serif; }
    .company-card .company-card__price .ordercall {
      position: absolute;
      bottom: 30px;
      display: none;
      left: 25px;
      border-radius: 4px;
      color: #a1a1a1;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
      width: 189px;
      height: 40px;
      line-height: 39px;
      border: 1px solid #a1a1a1; }
      .company-card .company-card__price .ordercall:hover {
        background: #fc5900;
        color: white;
        border: 1px solid #fc5900; }
  .company-card .info__content {
    height: 190px; }
    .company-card .info__content .map {
      width: 197px;
      height: 188px;
      float: left; }
    .company-card .info__content .address {
      float: left;
      font-family: "fira_sansmedium", sans-serif;
      line-height: 24px;
      width: 55%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #333; }
    .company-card .info__content .work {
      display: inline-block;
      font-size: 14px;
      line-height: 24px; }
      .company-card .info__content .work ul {
        margin: 0; }
      .company-card .info__content .work ul > li {
        padding-left: 0;
        margin-bottom: 0px; }
    .company-card .info__content .work-add {
      display: none; }
    .company-card .info__content .auto-marks {
      width: calc(35px*5);
      position: absolute;
      bottom: 15px; }
      .company-card .info__content .auto-marks ul {
        margin: 0; }
      .company-card .info__content .auto-marks ul > li {
        margin-right: 3px;
        display: inline-block;
        width: 27px;
        height: 27px; }
    .company-card .info__content--right {
      position: relative;
      float: left;
      width: 562px;
      height: 188px;
      padding: 20px 20px 25px 20px; }
      .company-card .info__content--right .b-more {
        float: right;
        width: 45%;
        text-align: right;
        height: 70px; }
    .company-card .info__content a.phone-block {
      position: absolute;
      right: 20px;
      bottom: 25px;
      font-family: "fira_sansmedium", sans-serif; }

.b-official {
  font-size: 1.1rem;
  position: relative;
  height: 40px; }
  .b-official:before {
    content: url(../img/icon-official.png);
    position: absolute;
    right: 120px;
    top: 2px; }

.n-official {
  width: 230px;
  height: 40px; }

.b-service-icons {
  position: relative;
  margin: 0; }
  .b-service-icons li {
    display: inline-block;
    float: right;
    margin-left: 7px;
    cursor: pointer; }
    .b-service-icons li:hover .grayscale {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 0.3; }
    .b-service-icons li:hover span {
      display: block; }
    .b-service-icons li span {
      position: absolute;
      text-align: center;
      width: 220px;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      display: none;
      right: 0;
      border-radius: 5px;
      line-height: 1.4rem;
      font-size: 1.2rem;
      padding: 5px;
      z-index: 100; }

a.phone-block {
  padding-left: 42px;
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: #333;
  text-decoration: none; }
  a.phone-block:after {
    content: 'Пожалуйста, звоните перед визитом';
    color: #e5e5e5;
    font-size: 12px;
    font-family: "fira_sansregular", sans-serif;
    position: absolute;
    bottom: -12px;
    width: 100%;
    left: 43px; }
  a.phone-block svg {
    fill: #fc5900;
    position: absolute;
    left: 0px;
    top: 10px; }

.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 0 #fc5900, inset 0 1px 0 #abcbe9;
  border-radius: 100%;
  v-align: middle; }

.filtertop {
  display: none;
  width: 100%;
  z-index: 10;
  background-color: #f6cb6d;
  padding: 20px 0 15px 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }
  .filtertop .top {
    margin-bottom: 20px; }
  .filtertop p {
    line-height: 23px;
    color: #090909;
    font-size: 18px; }
  .filtertop .model {
    float: left;
    width: 25%; }
  .filtertop .year {
    float: left;
    width: 25%; }
    .filtertop .year .irs {
      height: 40px;
      width: 90%;
      margin-top: -10px; }
    .filtertop .year .irs-from,
    .filtertop .year .irs-to,
    .filtertop .year .irs-single,
    .filtertop .year .irs-min,
    .filtertop .year .irs-max {
      top: 42px;
      color: black; }
  .filtertop .service {
    float: left;
    width: 25%; }
  .filtertop .engine-type {
    float: left;
    width: 25%; }
  .filtertop .sort {
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 23px; }
    .filtertop .sort span {
      margin-right: 20px; }
    .filtertop .sort a {
      text-decoration: none;
      color: #202020;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px; }
      .filtertop .sort a:hover {
        background-color: #f7d589; }

.show-top-wrapper {
  display: none;
  width: 100%;
  z-index: 100;
  position: relative;
  height: 7px;
  background-color: #f6cb6d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }

a.show-top-filter {
  display: inline-block;
  width: 150px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  font-size: 14px;
  line-height: 23px;
  text-decoration: none;
  color: #202020;
  text-align: center;
  padding: 5px 20px;
  background-color: #f6cb6d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }

.max {
  z-index: 10;
  display: block; }

.max-fixed {
  position: fixed; }

.service-listing {
  display: flex;
  justify-content: space-between; }
  .service-listing a {
    margin-right: 5px; }

.crumbs {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 25px;
  border-bottom: solid 1px #ccc; }
  .crumbs a, .crumbs span {
    text-decoration: none;
    color: #8e8e8e;
    font-size: 1.6rem;
    font-weight: 400; }
    .crumbs a:before, .crumbs span:before {
      content: ' / '; }
    .crumbs a:first-child:before, .crumbs span:first-child:before {
      content: ''; }

.b-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .b-header p.h1 {
    font-size: 3.8rem;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0; }
  .b-header address {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%; }
    .b-header address:before {
      content: url(/img/placeholder.png);
      margin-right: 10px;
      position: relative;
      top: 2px; }

.company-face {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .company-face .left-part {
    width: 48%; }
  .company-face .right-part {
    width: 48%; }
  .company-face span.text {
    display: inline-block;
    margin-bottom: 15px; }
  .company-face a.phone {
    font-size: 30px;
    color: #fc5900;
    display: block;
    margin-bottom: 20px;
    text-decoration: none; }

.company-phone {
  position: relative;
  height: 95px;
  margin: 20px 0;
  cursor: pointer;
  background: #373737;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  .company-phone svg.pulse-button {
    fill: white; }
  .company-phone:hover {
    background: #111; }
    .company-phone:hover .phone-block:after {
      color: #ff5a00; }
    .company-phone:hover svg.pulse-button {
      -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1); }
  .company-phone > img {
    margin: 20px 0 0 10px; }
  .company-phone .phone-block {
    position: absolute;
    top: 22px;
    left: 20px;
    color: white; }
  .company-phone .work-schedule {
    float: right;
    width: 155px;
    height: 100%;
    padding: 18px 10px 0 0;
    border-left: 1px #4e4e4e solid;
    background: #373737; }
    .company-phone .work-schedule p {
      font-size: 1.2rem;
      text-align: right;
      color: #ccc;
      padding: 0;
      line-height: 20px; }

.company-address {
  margin-top: -64px;
  z-index: 10;
  position: relative;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.72); }
  .company-address p {
    color: white; }
  .company-address p,
  .company-address a {
    line-height: 12px;
    font-size: 1.3rem; }

.rating-total span {
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-left: 10px; }

.rating-total .good {
  background: #8fc800;
  background: -moz-linear-gradient(top, #8fc800 0%, #7aaa00 100%);
  background: -webkit-linear-gradient(top, #8fc800 0%, #7aaa00 100%);
  background: linear-gradient(to bottom, #8fc800 0%, #7aaa00 100%); }

.rating-total .normal {
  background: #ffd65e;
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%); }

.rating-total .bad {
  background: #c95858;
  background: -moz-linear-gradient(top, #c95858 0%, #9b3e36 100%);
  background: -webkit-linear-gradient(top, #c95858 0%, #9b3e36 100%);
  background: linear-gradient(to bottom, #c95858 0%, #9b3e36 100%); }

.b-bar {
  display: flex;
  align-items: center;
  padding: 5px 0; }
  .b-bar > span {
    text-align: right;
    min-width: 27%; }
  .b-bar .bar {
    margin-left: 15px;
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 3px;
    background-color: #ebebeb; }
    .b-bar .bar > span {
      color: #aeaeae;
      font-size: 1.2rem;
      font-weight: 400;
      position: absolute;
      top: -15px; }
    .b-bar .bar .line {
      position: absolute;
      border-radius: 3px;
      height: 8px;
      width: 70%;
      height: 100%;
      top: 0;
      left: 0; }
      .b-bar .bar .line._good {
        background-color: #71b551; }
      .b-bar .bar .line._normal {
        background-color: #fcb800; }
      .b-bar .bar .line._bad {
        background-color: #cc333f; }

.b-rating {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid #ccc; }
  .b-rating__number {
    flex-basis: 28%; }
    .b-rating__number p.number {
      font-size: 7.4rem;
      font-weight: 400;
      padding: 0;
      line-height: .9; }
    .b-rating__number > div {
      display: flex;
      justify-content: space-between; }
      .b-rating__number > div span {
        font-size: 1.4rem;
        font-weight: 400; }
      .b-rating__number > div .count:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 4px;
        background: url(/img/icon-male.png); }
  .b-rating__bars {
    flex-basis: 65%; }

.quality {
  width: 45%; }
  .quality P {
    font-size: 1.4rem;
    padding: 0; }
  .quality span {
    float: right; }

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px; }
  .input .title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.8rem; }
  .input span {
    flex-grow: 0;
    font-size: 2.0rem;
    text-transform: uppercase;
    margin-right: 10px;
    color: black; }
  .input .button {
    flex-grow: 0;
    margin-left: 15px; }
  .input input {
    flex-grow: 1;
    border: 1px solid #cecece;
    height: 40px;
    padding: 10px 10px;
    font-size: 1.6rem;
    border-radius: 3px; }

.review-stat > * {
  font-size: 14px;
  display: inline-block;
  float: right;
  padding: 0 10px;
  border-left: 1px #eee solid;
  text-transform: lowercase;
  color: #777666; }

.review-stat .phone {
  display: none; }

.review-stat a {
  color: #ff6c00; }

.slogan {
  margin: 15px 0;
  font-size: 14px;
  background: #fc0;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  height: auto;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  display: block; }
  .slogan:target {
    display: none; }
  .slogan a {
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none; }

.review-card {
  transition: all 0.4s;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8; }
  .review-card img {
    width: 150px;
    height: 150px; }
  .review-card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
  .review-card .client-info,
  .review-card .quality,
  .review-card .rating-total {
    border-right: 1px #eee solid;
    opacity: 0.5;
    transition: all 0.7s; }
    .review-card .client-info:hover,
    .review-card .quality:hover,
    .review-card .rating-total:hover {
      opacity: 1; }
  .review-card .quality {
    width: 190px; }
    .review-card .quality p {
      font-size: 12px;
      line-height: 20px; }
  .review-card .review-answer {
    background: #f4f4f4;
    padding: 20px 20px;
    font-size: 14px;
    margin: 35px 0 0;
    position: relative;
    border-radius: 0 5px 5px 5px; }
    .review-card .review-answer .service-name {
      font-size: 12px;
      margin: 10px 0;
      position: absolute;
      padding: 2px 20px;
      top: -25px;
      color: #666222;
      border-radius: 5px;
      left: 0px;
      background: #f4f4f4; }
  .review-card .name {
    font-size: 1.6rem;
    line-height: 20px;
    text-transform: uppercase; }
  .review-card .car,
  .review-card .date {
    font-size: 1.2rem;
    color: #555;
    line-height: 20px;
    text-transform: uppercase; }

.cta-block .phone {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 33px;
  text-decoration: none;
  color: #000;
  display: block; }

.cta-block p {
  font-size: 30px;
  display: block;
  margin-bottom: 15px; }

.cta-block span {
  text-transform: lowercase;
  display: block;
  font-size: 20px;
  margin-bottom: 20px; }

.cta-block .button {
  padding: 10px 25px; }

.date {
  color: #959595;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.similar-services {
  display: flex; }

.slider-switcher {
  display: flex;
  justify-content: space-around;
  padding: 20px 0; }
  .slider-switcher a {
    width: 85px;
    height: 65px;
    border: 2px solid transparent;
    transition: all 0.5s; }
    .slider-switcher a.active,
    .slider-switcher a:hover {
      border: 2px solid #ff6c00; }
  .slider-switcher img {
    width: 100%;
    height: 100%; }

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page404 .hello-block__service {
    right: 20%;
    left: auto; }
  .page404.hello-block {
    height: 100%; }
  .page404 .text-big {
    flex-basis: 300px;
    margin-right: 20px;
    color: #444343;
    font-size: 17.2rem;
    line-height: 120px; }
  .page404 .h1 {
    margin: 0; }
  .page404 .text-block {
    margin-bottom: 75px;
    align-items: flex-end;
    justify-content: flex-start; }

.prezentation {
  background: #ccc;
  width: 100%;
  height: 600px;
  margin-bottom: 40px; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #dde;
  position: relative; }

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

.jspHorizontalBar,
.jspVerticalBar,
.jspTrack {
  background: #eeeef4; }

.jspDrag {
  background: #bbd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover {
  background: #8B8B9F; }

.jspArrow {
  background: url(../image/ui-icons_222222_256x240.png) no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.jspVerticalBar > .jspActive,
.jspArrow:hover {
  background-image: url("../image/ui-icons_cd0a0a_256x240.png"); }

.jspVerticalBar > .jspDisabled,
.jspVerticalBar > .jspDisabled:hover,
.jspHorizontalBar > .jspDisabled,
.jspHorizontalBar > .jspDisabled:hover {
  background-color: transparent;
  background-image: url("../image/ui-icons_888888_256x240.png"); }

.jspVerticalBar .jspArrow {
  height: 15px; }

.jspHorizontalBar .jspArrow {
  width: 15px; }

.jspArrowUp {
  background-position: 0 0; }

.jspArrowDown {
  background-position: -64px 0 !important; }

.jspArrowLeft {
  background-position: -96px 0 !important; }

.jspArrowRight {
  background-position: -32px 0 !important; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

.tabs .button-view, .tabs label.tab:hover .button-view, .tabs input:checked + label.tab .button-view {
  float: right; }

.advantages .h6,
.advantages .h1 {
  margin-bottom: 20px; }

.advantages .display-article {
  float: left;
  width: 50%; }

.advantages img {
  padding: 40px 50px;
  border: 1px solid #bcbcbc; }

.advantages .info {
  padding: 0px 20px 20px 0; }

.cta-block .input input {
  height: 49px; }

.cta-block .input .button {
  flex-grow: 1; }

.reviews-list .top-header {
  margin-bottom: 25px;
  transition: width 0.7s;
  padding: 20px 0; }

.reviews-list .button {
  margin-top: 25px;
  float: right; }

pre {
  position: fixed;
  display: block;
  coloR: #f1f1f1;
  background: rgba(51, 51, 51, 0.82);
  bottom: 0;
  left: 50px;
  padding: 20px;
  overflow: scroll;
  height: 500px;
  width: 500px;
  z-index: 1000; }

.tablebodytext {
  display: none; }

.select2-results__message, .select2-results__options--nested {
  font-size: 1.3rem;
  box-shadow: 1px 5px 2px #ecece7; }

.select2-results {
  box-shadow: 1px 5px 2px #ecece7; }

/*# sourceMappingURL=style.css.map */