@import 'var';
@import 'typography';
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-color: #f4f4f4;
    color: #0f3049;
}

a {
    position: relative;
}

.header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 30px 50px;
    background: rgb(191, 229, 242);
    color: #5b676b;
    border-top: 1px solid #acd7e6;
    border-bottom: 1px solid #acd7e6;
    .menu {
        float: left;
    }
    .entrance-block {
        float: right;
        a {
            color: white;
        }
        span {
            color: white;
        }
    }
}

.top-block {
    padding: 10px 0px;
    background: #f4f4f4;
    .entrance-block {
        float: right;
    }
}

.entrance-block {
    span {
        display: inline-block;
        margin: 0 5px;
    }
    a {
        font-size: 1.6rem;
        color: #191717;
        // // font-weight: 400;
    }
    svg {
        margin: 0px 6px -3px 0;
    }
}

.car-animate {
    -webkit-animation: car-drive 3.0s cubic-bezier(.64, -0.03, .45, .53);
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.service-animate {
    -webkit-animation: service-drive 2.0s linear alternate;
    animation-fill-mode: forwards;
}

.city-animate {
    -webkit-animation: bg-city 2.0s linear alternate;
    animation-fill-mode: forwards;
    &-after {
        -webkit-animation: bg-city-after 2.0s linear alternate;
        animation-fill-mode: forwards;
    }
}

.hello-block {
    position: relative;
    overflow: hidden;
    background: #bfe5f2;
    background-image: url("../img/bgheader.png");
    background-repeat: repeat-x;
    background-position: 0 100%;
    height: 480px;
    padding: 40px 0;
    &__text {
        text-align: center;
    }
    &__car {
        position: absolute;
        bottom: 0;
        left: 500px;
    }
    &__service {
        position: absolute;
        bottom: 0;
        left: 2000px;
    }
}

.logo {
    background: url("../img/logo.png") 0 0 no-repeat;
    display: block;
    width: 182px;
    height: 69px;
    background-size: contain;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    ul>li {
        display: inline-block;
    }
    a {
        color: #444;
        font-size: 1.8rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 5px;
        border: 3px solid transparent;
        &:hover,
        &.active {
            //						border: 3px solid #bfe5f2;
            background: #bfe5f2;
            color: #191817;
        }
    }
}

.content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background: #f4f4f4;
    padding: 15px 0;
    .content {
        padding: 0;
    }
}

.b-select {
    label {
        display: block;
        width: 100%;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 20px 0;
    &-more {
        margin-top: 20px;
        display: none;
    }
    &-part {
        width: 32%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        label {
            display: block;
            // // font-weight: 600;
            font-size: 1.6rem;
            margin-bottom: 10px;
        }
    }
    .more {
        position: relative;
        width: 100%;
        &.act:after {
            content: "▲";
        }
        a {
            color: #4e4e4e;
        }
        width: 100%;
        margin-top: 15px;
        margin-right: 85px;
        text-align: right;
        &:after {
            position: absolute;
            content: "▼";
            font-size: 12px;
            top: 2px;
            right: -14px;
        }
    }
    .button {
        background: #ff5a00;
    }
}

.service-block {
    padding: 0 0 20px 0;
    overflow: hidden;
}

.service-card {
    float: left;
    width: 180px;
    height: 280px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    &>p {
        // // font-weight: 400;
        font-size: 1.6rem;
    }
    div.price {
        p {}
        span {
            font-family: $Fira-M;
        }
        // // font-weight: 700;
        font-size: 2.0rem;
    }
    .h7 {
        text-transform: none;
        // // font-weight: 700;
        min-height: 50px;
        margin: 10px 0 0 0;
    }
    &:hover {
        .icon-circle {
            background: #f6cb6d;
            span {
                background: #ff5a00;
            }
        }
    }
    &.row {
        width: 100%;
        min-height: auto;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 0 10px 0;
        text-align: left;
        div.info {
            flex-basis: 82%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}

.icon-circle {
    width: 80px;
    height: 80px;
    //background: #fae5b6;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    span {
        top: 0px;
        right: -15px;
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #ff8e51;
        text-align: center;
        line-height: 33px;
        border-radius: 50%;
        font-size: 1.5rem;
        // // font-weight: 700;
        color: white;
    }
}

.map-info {
    width: 300px;
    background: #f4f4f4;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 20%;
    p.header {
        padding: 10px 10px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 0;
    }
    .textblock {
        padding: 10px 25px;
        .h7 {
            // // font-weight: 500;
            margin-bottom: 0;
        }
        p {
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        p.info {
            line-height: 18px;
        }
        .display-list {
            margin: 0;
        }
        .button {
            width: 100%;
            font-size: 1.6rem;
            color: #fff;
            border-radius: 4px;
            text-decoration: none;
            text-align: center;
        }
        img {
            margin: 5px 0;
        }
    }
}


/* DECOR */

hr {
    margin: 15px 0;
    background-color: #e3e3e3;
    border: 0px none;
    height: 1px;
    width: 100%;
    clear: both;
}

.tabs {
    section {
        display: none;
        flex-basis: 100%;
        overflow: hidden;
        padding: 25px 0;
    }
    input {
        display: none;
    }
    label.tab {
        font-size: 1.8rem;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
    }
    #popular-brands-content {
        .display-tile > * {
            -webkit-flex: 1;
            flex: 1;
            max-width: inherit;
            padding: 5px 5px;
            border-radius: 3px;
            min-width: 110px;
        }
        .display-tile div:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

.tabs label.tab:hover {
    @extend .tabs;
    color: white;
    background: black;
}

.tabs input:checked + label.tab {
    @extend .tabs;
    color: white;
    background: black;
    display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#popular-brands:checked ~ #popular-brands-content,
#all-brands:checked ~ #all-brands-content {
    display: block;
}

.map-wrapper {
    width: 100%;
    height: 580px;
    background: grey;
    position: relative;
}

.bottom-links {
    padding: 40px 0 20px 0;
    .link-block {
        display: inline-block;
        width: 33%;
        float: left;
        .h7 {
            font-size: 1.9rem;
            text-transform: none;
            // // font-weight: 400;
        }
        &.link-block--brands {
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            li {
                flex-basis: 50%;
            }
        }
    }
    li {
        margin-bottom: 5px;
        font-size: 1.5rem;
        &>a {
            color: #fc5900;
        }
    }
}

.choose-block {
    z-index: 999;
    position: relative;
    &._filter {
        position: relative;
        padding: 15px 0px 15px 0px;
        .select2-container--classic .select2-selection--single .select2-selection__rendered {
            line-height: 37px;
            height: 37px;
        }
        .select2-container--classic .select2-selection--single {
            line-height: 37px;
            height: 37px;
        }
        a.submit {
            width: 100%;
            line-height: 12px;
            height: 37px;
            text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2);
            // // font-weight: 400;
        }
        a.more-filter {
            bottom: 0;
            font-size: 1.5rem;
            position: absolute;
            padding: 3px 25px;
            background: #86b5c5;
            color: white;
            text-decoration: none;
            left: 50%;
            margin-left: -120px;
            margin-bottom: -25px;
            &:hover {
                opacity: .9;
            }
        }
    }
    &>div {
        flex-grow: 1;
        width: 100%;
        margin-right: 20px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .select-big {
        width: 100%;
    }
    &>a {
        flex-grow: 1;
    }
    &>.select {
        flex-grow: 1;
        //  width: 100%;
        margin-right: 20px;
        //		&:first-child {
        //			margin-right: 20px;
        //		}
        //		&:last-child {
        //			margin-left: 20px;
        //		}
    }
    input[type="submit"] {
        width: 100%;
        margin-top: 40px;
        text-shadow: 1px 1.7px 0 rgba(0, 0, 0, 0.2);
        color: white;
        text-transform: uppercase;
        font-family: $Fira-M;
    }
}

.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    .simple {
        margin-right: 8px;
        width: 40px;
        &.next {
            width: 185px;
            margin-right: 0;
        }
        &.prev {
            width: 185px;
        }
        &:hover {
            background: #fd610b;
            color: #fff;
            svg {
                fill: white;
            }
        }
        &.active {
            background: #0a0a0a;
            color: #fff;
        }
    }
}

.company-brands {
    img {
        width: 60px;
        height: 60px;
    }
}

.company-card {
    height: 250px;
    margin: 20px 0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    &:hover {
        background-color: #fef9f2;
        .company-name {
            color: #fc5900;
        }
        .info__content--right .phone-block:after {
            color: #ff5a00;
        }
        svg.pulse-button {
            -webkit-animation: pulse 3s infinite cubic-bezier(0.6, 0, 0, 1);
        }
    }
    .company-card__info {
        width: 760px;
        height: 248px;
        border-right: 1px solid #f0f0f0;
        float: left;
    }
    .info__header {
        height: 60px;
        padding: 0 20px;
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
        span.company-name {
            width: 488px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            color: #333;
            font-family: $Fira-M;
            font-size: 24px;
            // // font-weight: 400;
            line-height: 60px;
        }
        span.rating {
            line-height: 60px;
            color: black;
            font-size: 23px;
            // // font-weight: 400;
            float: right;
            &:before {
                content: '';
                border-left: 1px solid #e2e2e2;
                padding-left: 12px;
            }
            &:after {
                content: url(../img/like.png);
                padding-left: 5px;
            }
        }
        a.review-link {
            padding-right: 13px;
            line-height: 60px;
            color: #acdcf6;
            font-size: 14px;
            // // font-weight: 400;
            float: right;
        }
    }
    .company-card__price {
        float: right;
        width: 238px;
        position: relative;
        height: 100%;
        img {
            margin: 20px auto;
            display: block;
        }
        p {
            text-align: center;
            color: #333;
            height: 70px;
            font-size: 16px;
            // // font-weight: 400;
            margin-bottom: 0;
        }
        p.price {
            padding-top: 0;
            font-size: 20px;
            font-family: $Fira-B;
            // font-family: $exo;
            // // font-weight: 700;
        }
        .ordercall {
            position: absolute;
            bottom: 30px;
            display: none;
            left: 25px;
            border-radius: 4px;
            color: #a1a1a1;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            width: 189px;
            height: 40px;
            line-height: 39px;
            border: 1px solid #a1a1a1;
            &:hover {
                background: #fc5900;
                color: white;
                border: 1px solid #fc5900;
            }
        }
    }
    .info__content {
        height: 190px;
        .map {
            width: 197px;
            height: 188px;
            float: left;
        }
        .address {
            float: left;
            font-family: $Fira-M;
            line-height: 24px;
            width: 55%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
        }
        .work {
            display: inline-block;
            font-size: 14px;
            // // font-weight: 300;
            line-height: 24px;
            ul {
                margin: 0;
            }
            ul>li {
                padding-left: 0;
                margin-bottom: 0px;
            }
        }
        .work-add {
            display: none;
        }
        .auto-marks {
            width: calc(35px*5);
            position: absolute;
            bottom: 15px;
            ul {
                margin: 0;
            }
            ul>li {
                margin-right: 3px;
                display: inline-block;
                width: 27px;
                height: 27px;
            }
        }
        &--right {
            position: relative;
            float: left;
            width: 562px;
            height: 188px;
            padding: 20px 20px 25px 20px;
            .b-more {
                float: right;
                width: 45%;
                text-align: right;
                height: 70px;
            }
        }
        a.phone-block {
            position: absolute;
            right: 20px;
            bottom: 25px;
            font-family: $Fira-M;
        }
    }
}

.b-official {
    font-size: 1.1rem;
    position: relative;
    height: 40px;
    &:before {
        content: url(../img/icon-official.png);
        position: absolute;
        right: 120px;
        top: 2px;
    }
}

.n-official {
    width: 230px;
    height: 40px;
}

.b-service-icons {
    position: relative;
    margin: 0;
    li {
        display: inline-block;
        float: right;
        margin-left: 7px;
        cursor: pointer;
        &:hover {
            .grayscale {
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
                opacity: 0.3;
            }
            span {
                display: block;
            }
        }
        span {
            position: absolute;
            text-align: center;
            width: 220px;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            display: none;
            right: 0;
            border-radius: 5px;
            line-height: 1.4rem;
            font-size: 1.2rem;
            padding: 5px;
            z-index: 100;
        }
    }
}

a.phone-block {
    padding-left: 42px;
    font-size: 2.5rem;
    // // // font-weight: bold;
    margin-bottom: 0px;
    color: #333;
    text-decoration: none;
    &:after {
        content: 'Пожалуйста, звоните перед визитом';
        color: #e5e5e5;
        font-size: 12px;
        // // // font-weight: 100;
        font-family: $Fira-R;
        position: absolute;
        bottom: -12px;
        width: 100%;
        left: 43px;
    }
    svg {
        fill: #fc5900;
        position: absolute;
        left: 0px;
        top: 10px;
    }
}

.pulse-button {
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 0 0 rgb(252, 89, 0), inset 0 1px 0 #abcbe9;
    border-radius: 100%;
    v-align: middle;
    //    -webkit-animation: pulse 3s infinite cubic-bezier(0.6, 0, 0, 1);
    //    -webkit-animation: none;
}

.filtertop {
    display: none;
    //    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #f6cb6d;
    padding: 20px 0 15px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    //        margin-top: -133px;
    .top {
        margin-bottom: 20px;
    }
    p {
        // // // font-weight: 300;
        line-height: 23px;
        color: #090909;
        font-size: 18px;
    }
    select {}
    .model {
        //        display: inline-block;
        float: left;
        width: 25%;
    }
    .year {
        //        display: inline-block;
        float: left;
        width: 25%;
        .irs {
            height: 40px;
            width: 90%;
            margin-top: -10px;
        }
        .irs-from,
        .irs-to,
        .irs-single,
        .irs-min,
        .irs-max {
            top: 42px;
            color: black;
        }
        .irs-line-mid,
        .irs-line-left,
        .irs-line-right,
        .irs-bar,
        .irs-bar-edge,
        .irs-slider {
            //    background: url(../img/sprite-skin-nice-top.png) repeat-x !important;
        }
    }
    .service {
        //        display: inline-block;
        float: left;
        width: 25%;
        //        .select2-container--default .select2-selection--single {
        //            //    background-color: #202020;
        //            //            color: white;
        //            //    border: none;
        //            //    border-radius: 5px;
        //            //                width: 225px !important;
        //        }
        //        .select2-container--default .select2-selection--multiple .select2-selection__choice {
        //            background-color: #202020;
        //            border: 1px solid #202020;
        //            border-radius: 4px;
        //            cursor: default;
        //            float: left;
        //            margin-right: 5px;
        //            margin-top: 5px;
        //            padding: 0 5px;
        //        }
        //        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        //            cursor: pointer;
        //            margin-left: 2px;
        //            margin-right: 2px;
        //            float: right;
        //            //            background: url(/img/remove.png);
        //        }
        //        .select2-container--default .select2-search--inline .select2-search__field {
        //            color: white;
        //        }
    }
    .engine-type {
        float: left;
        width: 25%;
    }
    .sort {
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        // // // font-weight: 300;
        line-height: 23px;
        span {
            margin-right: 20px;
            // // // font-weight: 300;
        }
        a {
            text-decoration: none;
            color: #202020;
            padding: 10px;
            border-radius: 5px;
            margin-right: 10px;
            // // // font-weight: 300;
            &:hover {
                background-color: #f7d589;
            }
        }
    }
    .black-select {
        //        .select2-container--default .select2-selection--single {
        //            background-color: #202020;
        //            color: white;
        //            border: none;
        //            border-radius: 5px;
        //        }
        //        .select2-container {
        //            min-width: 70%;
        //        }
        //        .select2-container--default .select2-selection--single .select2-selection__rendered {
        //            color: white;
        //            line-height: 32px;
        //        }
        //        .select2-container--default .select2-selection--single .select2-selection__arrow b {
        //            border-color: #fff transparent transparent transparent;
        //        }
        //        .select2-container .select2-selection--single {
        //            height: 32px;
        //        }
        //        .select2-container--default .select2-selection--single .select2-selection__arrow {
        //            height: 30px;
        //        }
    }
}

.show-top-wrapper {
    display: none;
    width: 100%;
    z-index: 100;
    position: relative;
    height: 7px;
    background-color: #f6cb6d;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

a.show-top-filter {
    display: inline-block;
    width: 150px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    font-size: 14px;
    // // // font-weight: 300;
    line-height: 23px;
    text-decoration: none;
    color: #202020;
    text-align: center;
    padding: 5px 20px;
    background-color: #f6cb6d;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.max {
    z-index: 10;
    display: block;
}

.max-fixed {
    position: fixed;
}

.service-listing {
    display: flex;
    justify-content: space-between;
    a {
        margin-right: 5px;
    }
}


.crumbs {
  width: 100%;
  padding: 10px 20px;
    margin-bottom: 25px;
    border-bottom: solid 1px #ccc;
a, span {
  text-decoration: none;
    color: #8e8e8e;
font-size: 1.6rem;
font-weight: 400;

  
  &:before {
    content: ' / ';
  }
  
    &:first-child:before {
      content: '';
    }
}
}
//
//.bread-crumbs {
//    margin: 0px 0 10px 0;
//    border-bottom: 1px #e3e3e3 solid;
//    padding-bottom: 10px;
//    a {
//        color: #7f7f7f;
//        padding-right: 20px;
//        &.active {
//            text-decoration: none;
//        }
//        &:not(:first-child):before {
//            content: '/';
//            position: absolute;
//            left: -15px;
//            text-decoration: none;
//        }
//    }
//}

.b-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
        align-items: center;
    flex-wrap: wrap;
    p.h1 {
        font-size: 3.8rem;
        font-weight: 700;
        padding-bottom: 20px;
        margin: 0;
    }
    
    address {
        font-size: 1.6rem;
        font-weight: 400;
        width: 100%;
        &:before {
            content: url(/img/placeholder.png);
            margin-right: 10px;
    position: relative;
    top: 2px;
        }
    }
}

.company-face {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-part {
        width: 48%;
    }
    .right-part {
        width: 48%;
    }
    //
    //  p {
    //    font-size: 1.6rem;
    //    text-transform: none;
    //    color: black;
    //    // // // font-weight: bold;
    //    margin-bottom: 5px;
    //  }
    span.text {
        display: inline-block;
        margin-bottom: 15px;
    }
    a.phone {
        font-size: 30px;
        // // // font-weight: bold;
        color: #fc5900;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
    }
}

.company-phone {
    position: relative;
    height: 95px;
    margin: 20px 0;
    cursor: pointer;
    background: #373737;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    svg.pulse-button {
        fill: white;
    }
    &:hover {
        background: #111;
        .phone-block:after {
            color: #ff5a00;
        }
        svg.pulse-button {
            -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
        }
    }
    &>img {
        margin: 20px 0 0 10px;
    }
    .phone-block {
        position: absolute;
        top: 22px;
        left: 20px;
        color: white;
    }
    .work-schedule {
        float: right;
        width: 155px;
        height: 100%;
        padding: 18px 10px 0 0;
        border-left: 1px #4e4e4e solid;
        background: #373737;
        p {
            font-size: 1.2rem;
            text-align: right;
            color: #ccc;
            padding: 0;
            line-height: 20px;
        }
    }
}

.company-address {
    margin-top: -64px;
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.72);
    p {
        color: white
    }
    p,
    a {
        line-height: 12px;
        font-size: 1.3rem;
    }
}

.rating-total {
    span {
        padding: 3px 10px;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        margin-left: 10px;
    }
    .good {
        background: rgb(143, 200, 0);
        background: -moz-linear-gradient(top, rgba(143, 200, 0, 1) 0%, rgba(122, 170, 0, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(143, 200, 0, 1) 0%, rgba(122, 170, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(143, 200, 0, 1) 0%, rgba(122, 170, 0, 1) 100%);
    }
    .normal {
        background: rgb(255, 214, 94);
        background: -moz-linear-gradient(top, rgba(255, 214, 94, 1) 0%, rgba(254, 191, 4, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 214, 94, 1) 0%, rgba(254, 191, 4, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 214, 94, 1) 0%, rgba(254, 191, 4, 1) 100%);
    }
    .bad {
        background: rgb(201, 88, 88);
        background: -moz-linear-gradient(top, rgba(201, 88, 88, 1) 0%, rgba(155, 62, 54, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(201, 88, 88, 1) 0%, rgba(155, 62, 54, 1) 100%);
        background: linear-gradient(to bottom, rgba(201, 88, 88, 1) 0%, rgba(155, 62, 54, 1) 100%);
    }
}

.b-bar {
    display: flex;
    align-items: center;
    padding: 5px 0;

    &>span {
        text-align: right;
        min-width: 27%;
    }
    .bar {
        margin-left: 15px;
        position: relative;
        width: 100%;
        height: 8px;
        border-radius: 3px;
        background-color: #ebebeb;
        
            &>span {
                
        color: #aeaeae;
        font-size: 1.2rem;
        font-weight: 400;
                    position: absolute;
    top: -15px;
    }
        .line {
            position: absolute;
             border-radius: 3px;
            height: 8px;
            width: 70%;
            height: 100%;
            top: 0;
            left: 0;
            &._good {
                background-color: #71b551;
            }
            &._normal {
                background-color: #fcb800;
            }
            &._bad {
                background-color: #cc333f;
            }
            
        }
    }
	
}
.b-rating {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    &__number {
            flex-basis: 28%;

        p.number {
            font-size: 7.4rem;
            font-weight: 400;  
                    padding: 0;
            line-height: .9;
        }
        &>div {
            display: flex;
            justify-content: space-between;
            span {
                font-size: 1.4rem;
                font-weight: 400; 
            }
            .count {
//                padding-right: 10px;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-left: 4px;
                    background: url(/img/icon-male.png);
                }
            }
        }
        
    }
    
    &__bars {
            flex-basis: 65%;
    }
//    display: flex;
//    justify-content: space-between;
//    &>a {
//        color: #b3b3b3;
//        font-size: 1.3rem;
//        text-decoration: none;
//        width: 50%;
//        height: 80px;
//        &:hover {
//            span {
//                visibility: hidden;
//                display: block;
//            }
//            &:after {
//                content: 'Все отзывы';
//                position: absolute;
//                left: 0;
//                bottom: 3px;
//                color: $orange;
//                text-decoration: underline;
//                font-size: 1.6rem;
//            }
//            img {
//                display: block;
//            }
//        }
//    }
}

.quality {
    width: 45%;
    P {
        font-size: 1.4rem;
        padding: 0;
    }
    span {
        float: right;
    }
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .title {
        width: 100%;
        margin-bottom: 5px;
        font-size: 1.8rem;
        // // // font-weight: bold;
    }
    span {
        flex-grow: 0;
        font-size: 2.0rem;
        text-transform: uppercase;
        // // // font-weight: bold;
        margin-right: 10px;
        color: black;
    }
    .button {
        flex-grow: 0;
        margin-left: 15px;
    }
    input {
        flex-grow: 1;
        border: 1px solid #cecece;
        height: 40px;
        padding: 10px 10px;
        font-size: 1.6rem;
        border-radius: 3px;
    }
}

.review-stat {
    &>* {
        font-size: 14px;
        // // // font-weight: 300;
        display: inline-block;
        float: right;
        padding: 0 10px;
        border-left: 1px #eee solid;
        text-transform: lowercase;
        color: #777666;
    }
    .phone {
        display: none;
    }
    a {
        color: $orange;
    }
}

.slogan {
    margin: 15px 0;
    font-size: 14px;
    background: #fc0;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    height: auto;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    display: block;
    &:target {
        display: none;
    }
    a {
        position: absolute;
        top: 5px;
        right: 10px;
        text-decoration: none;
    }
}

.review-card {
    transition: all 0.4s;
    img {
        width: 150px;
        height: 150px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .client-info,
    .quality,
    .rating-total {
        border-right: 1px #eee solid;
        opacity: 0.5;
        transition: all 0.7s;
        &:hover {
            opacity: 1;
        }
    }
    .quality {
        width: 190px;
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }
    .review-answer {
        background: rgb(244, 244, 244);
        padding: 20px 20px;
        font-size: 14px;
        margin: 35px 0 0;
        position: relative;
        border-radius: 0 5px 5px 5px;
        .service-name {
            font-size: 12px;
            margin: 10px 0;
            position: absolute;
            padding: 2px 20px;
            top: -25px;
            color: #666222;
            border-radius: 5px;
            left: 0px;
            background: rgb(244, 244, 244);
        }
    }
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
    .name {
        font-size: 1.6rem;
        line-height: 20px;
        text-transform: uppercase;
    }
    .car,
    .date {
        font-size: 1.2rem;
        color: #555;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.cta-block {
    .phone {
        font-size: 60px;
        line-height: 60px;
        // // font-weight: bold;
        margin-bottom: 33px;
        text-decoration: none;
        color: #000;
        display: block;
    }
    p {
        font-size: 30px;
        // // font-weight: bold;
        display: block;
        margin-bottom: 15px;
    }
    span {
        text-transform: lowercase;
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .button {
        padding: 10px 25px;
    }
}

.date {
    color: #959595;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.similar-services {
    display: flex;
}

.slider-switcher {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    a {
        width: 85px;
        height: 65px;
        border: 2px solid transparent;
        transition: all .5s;
        &.active,
        &:hover {
            border: 2px solid $orange;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.page404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hello-block__service {
        right: 20%;
        left: auto;
    }
    &.hello-block {
        height: 100%;
    }
    .text-big {
        flex-basis: 300px;
        margin-right: 20px;
        color: #444343;
        font-size: 17.2rem;
        line-height: 120px;
        // // font-weight: 700;
    }
    .h1 {
        margin: 0;
    }
    .text-block {
        margin-bottom: 75px;
        align-items: flex-end;
        justify-content: flex-start;
    }
}

.prezentation {
    background: #ccc;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}