.fixblock {
  position: relative;
  max-width: 1060px;
  padding: 0px 30px;
  margin: 0 auto;
}

.block {
  padding: 25px 0;
      display: inline-block;
  width: 100%;
  &--light {
    background: #f8f8f8;
  }
   &--cta {
    padding: 0;
  }
}

.b-block {
       &._blue {
        background: #bfe5f2;
               border-top: 1px solid #acd7e6;
    border-bottom: 1px solid #acd7e6;
    }
    .choose-block>div {
        width: inherit;
        margin-right: inherit;
    }

}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}
.clear {
  clear: both;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #606060;
}

.divider-vertical {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #3f4244;
}
 

.responsive{
width: 100%;
height: auto;
}

.sticky {
      width: 100%;
    top: 0;
    left: 0;
    background: #fbfbfb;
    z-index: 2;
    box-shadow: 0 0 3px #333;
    position: fixed;
  
  &-margin {
        margin-top: 160px !important;
  }
  
  &.top-header {
	padding: 20px 0;
  }
  
  &.display-center {
    justify-content: center;
  }
  .review-stat {
    width: 570px;
  }
  .h7 {
    width: 430px;
  }
  
  .phone {
    font-size: 1.8rem;
    display: block !important;
  }
}

.display-between {
	display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.display-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  &>*{
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  .info {
//    padding: 20px;
    padding-left: 20px;
  }
}


.display-tile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  &>*{
    margin: 15px;
    text-align: center;  
    max-width: 80px;
  }
}

.display-article {
	display: flex;
//    flex-basis: 50%;
    align-items: flex-start;
//  margin-bottom: 20px;
  
  img{
    margin-right: 20px;
  }
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}


@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9;
    }
}

@-webkit-keyframes bg-city {
	0%	 { background-position: 0 100%;}
	100% { background-position: -70% 100%;}
	}
//@-webkit-keyframes bg-city-after {
//	0%	 { background-position: -70% 100%;}
//	100% { background-position: -140% 100%;}
//	}
@-webkit-keyframes car-drive {
	0%	 { left: 500px; }
	30%	 { left: 1200px; }
	50%	 { left: 1200px; }
	100% { left: 2500px; }
	}
@-webkit-keyframes service-drive {
	0%	 { left: 2000px; }
//	30%	 { left: 1200px; }
//	50%	 { left: 1200px; }
	100% { left: 1200px; }
	}