/* TYPOGRAPHY */
$Fira-R: 'fira_sansregular',
sans-serif;
$Fira-B: 'fira_sansbold',
sans-serif;
$Fira-M: 'fira_sansmedium',
sans-serif;
$Fira-L: 'fira_sanslight',
sans-serif;
html {
    font-size: 62.5%;
    font-family: $Fira-R;
}

body {
    font-size: 1.5rem;
    line-height: 1.4;
}

p.h1,
p.h2,
p.h3,
p.h4,
p.h5,
p.h6 {
   
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5, 
.h5,
h6, 
.h6{
    font-family: $Fira-M;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

h1,
.h1 {
    font-size: 4.0rem;
    line-height: 4.0rem;
}

h2,
.h2 {
    font-size: 3.6rem;
    line-height: 4.0rem;
}

h3,
.h3 {
    font-size: 3.2rem;
    line-height: 36px;
}

h4,
.h4 {
    font-size: 2.8rem;
}

h5,
.h5 {
    font-size: 2.4rem;
}

h6,
.h6 {
    font-size: 2.2rem;
}

.h7 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
}

p {
    font-size: 1.5rem;
//    line-height: 25px;
    padding-bottom: 10px;
}


p.header {
    font-size: 2.0rem;
  
    line-height: 22px;
    margin-bottom: 15px;
    font-family: $Fira-B;
    color: black;
}

.hello ul {
    list-style: circle;
    margin-left: 20px;
}

&::-webkit-input-placeholder {
    font-size: 16px;
    font-size: 1.5rem;
  
    color: #b8b8b8;
}

&::-moz-placeholder {
    font-size: 16px;
    font-size: 1.5rem;
   
    color: #b8b8b8;
}


/* Firefox 19+ */

&:-moz-placeholder {
    font-size: 16px;
    font-size: 1.5rem;
  
    color: #b8b8b8;
}


/* Firefox 18- */

&:-ms-input-placeholder {
    font-size: 16px;
    font-size: 1.5rem;
  
    color: #b8b8b8;
}

a {
    font-size: 1.5rem;
    color: #fc5900;
    transition: all ease-out 0.5s;
}

a:hover {
    text-decoration: none;
}

a.link-pdf {
  
    &:after {
        content: url(../images/pdf.png);
        position: relative;
        top: 7px;
        margin-left: 10px;
    }
}

a.link-doc {
  
    &:after {
        content: url(../images/doc.png);
        position: relative;
        top: 7px;
        margin-left: 10px;
    }
}

a.link-more {
    color: #3f4244;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        background: url(../images/icon-arrow-red.png) no-repeat;
        width: 11px;
        height: 11px;
        right: -15px;
        top: 2px;
        transition: right .3s;
    }
    &:hover:after {
        right: -22px;
    }
}

.upper {
    text-transform: uppercase;
}

.bold {
 
}

.attention {
    color: #d7141b;
}

.attention-bold {
    font-size: 14px;
   
}

.index .h1 {
    font-size: 5rem;
    line-height: 3rem;
}

.index .h1 span.h6 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}