@import 'var';
@import 'typography';

div.BoxUiKit {
    margin-top: 50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.ui-kit {
}


ul {
    margin: 10px 0;
    line-height: 22px;
}

ul li {
//    position: relative;
//    padding-left: 25px;
//    margin-bottom: 9px;
}

.arrow-list li:before {
    position: absolute;
    background: url("../img/liarrow.png") no-repeat;
    content: "";
    top: 4px;
    left: 0px;
    display: block;
    width: 15px;
    height: 12px;
}

ol {
    margin-bottom: 20px;
    line-height: 22px;
    list-style: none;
    counter-reset: li;
}

ol li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
}

ol li:before {
    position: absolute;
    top: 2px;
    left: 0px;
    content: counter(li);
    /* В качестве данных используем счетчик */
    counter-increment: li;
    /* Увеличиваем значение счетчика на 1 */
    color: #fff;

    min-width: 20px;
    height: 20px;
    font-size: 12px;
    background: #2c3e50; 
    border-radius: 5px;
    text-align: center;
    line-height: 0px;
    padding: 9px 0px;
}
.button {
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border: none;

    text-align: center;
    font-size: 1.6rem;

}

.button.borderbt {
   border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.borderbt {
//    cursor: pointer;
//    color: #fff;
//    padding: 5px 10px;
//    display: inline-block;
//    text-decoration: none;
//    border: 2px solid rgba(0, 0, 0, 0);
//    border-radius: 5px;
//    text-align: center;
//    font-family: 'Exo 2', sans-serif;
//    font-size: 1.8rem;
//    font-weight: bold;
//  
//    border: 2px solid #000;
//    color: #000;
//    border-radius: 5px;
//    text-decoration: none;
//    text-align: center;
}



.borderbt.borderorange {

    border: 2px solid #ff5a00;
    color: #ff5a00
}

.borderbt.borderorange:hover {
    background: #ff5a00;
    color: #fff;
}

.button.blue {
    background: #4aa3df;

}

.button.red {
    background: #d14233; 

}

.button.lightorange {
    background: #f4a62a;

}

.button.orange {
    background: $orange;
   &:hover {
    background: #c54600;
  }

}

.button.green {
    background: #2cc36b;

}

.button.colorwaev {
    background: #19b698;

}

.button:hover {
//    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.48);
}

.button.deffaultsize {
    width: 150px;
    height: 30px;
    padding: 8px 10px;
}

.button.smallsize {
    width: 65px;
    height: 30px;
    padding: 8px 2px;
}

.button.middlesize {
    width: 100px;
    height: 30px;
    padding: 8px 5px;
}

.button.bigersize {
    width: 180px;
    height: 55px;
    padding: 15px 5px;
    font-size: 1.5rem;
    text-shadow: 1px 1.7px 0 rgba(0,0,0,0.2);
    color: white;
}

.button:disabled {
    color: #2c3e50;
    border: 2px solid #2c3e50;
    padding: 6px 10px;
    cursor: not-allowed;
}

.button:disabled:hover {
    box-shadow: none;
}

.button:disabled:active {
    background: none;
}

.button:active {
//    padding: 6px 10px;
//    border: 2px solid #2c3e50;
//    background: #2c3e50;
}

.button.arrow {
    text-align: left;
}

.button.arrow:active {
    padding: 6px 8px;
}

.button.gray {
    display: none;
    border-radius: 4px;
    color: #a1a1a1;
    text-decoration: none;
    font-size: 1.5rem;

    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #a1a1a1;
    padding: inherit;

  &:hover {
    background: #fd5900;
    color: #fff;
  }

}

.button-view {
  display: inline-block;
  cursor: pointer;
    width: 47px;
    height: 47px;
  display: inline-flex;
    justify-content: center;
    align-items: center;
  
  svg {
    width: 12px;
    height: 12px;
  }
  
  &.active, &:hover {
    background: #d7d7d7;
  }

  
}

.button.empty {
  cursor: pointer;
  color: black;
    margin-top: 15px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 175px;
    height: 45px;
    padding: 10px 0px;
    border: 1px solid #cecece;

  
  &:hover {
    background: #cecece;
  }
}

.button.simple {
  padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border-radius: 4px;
    height: 40px;
    line-height: 28px;
    text-align: center;

    color: #000;
  font-size: 1.5rem;
  &:hover {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  }
}

.button.prev {
  width: 185px;
      svg {
      position: absolute;
      height: 15px;
      top: 13px;
        left: 13px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
}

.button.next {
  width: 185px;
  svg {
      position: absolute;
      height: 15px;
      top: 13px;
      right: 13px;
     transform: rotate(0deg);
    }
}



[data-role="disabled"] {
    color: #2c3e50;
    border: 2px solid #2c3e50;
    padding: 6px 10px;
    cursor: not-allowed;
}

.button.deffaultsize[data-role="disabled"] {
    color: #2c3e50;
    border: 2px solid #2c3e50;
    padding: 6px 10px;
    cursor: not-allowed;
}

[data-role="disabled"]:hover {
    box-shadow: none;
}

[data-role="disabled"]:active {
    background: none;
}

.onoffswitch {
    position: relative;
    width: 50px;
    font-family: 'PT Sans Caption', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 11px;
    color: white;

}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #2CC36B;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 13px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 34px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    color: #20282f;
    font-family: 'PT Sans Caption', sans-serif;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -22px;
}

input[type=checkbox].css-checkbox:disabled + label.css-label {
    background-image: url("../img/csscheckboxdes.png");
    cursor: not-allowed;
}

input[type=checkbox].css-checkbox:checked:disabled + label.css-label {
    background-position: 0 -22px;
}

input[type=checkbox].css-checkbox + label.css-label {
    background-image: url("../img/csscheckbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left: 34px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    color: #20282f;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -22px;
}

input[type=radio].css-checkbox:disabled + label.css-label {
    background-image: url("../img/cssradiobtdes.png");
    cursor: not-allowed;
}

input[type=radio].css-checkbox:checked:disabled + label.css-label {
    background-position: 0 -22px;
}

input[type=radio].css-checkbox + label.css-label {
    background-image: url("../img/cssradiobt.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.pagination {
    overflow: hidden;
    margin-bottom: 20px;
}

div.pagination.default a {
    width: 28px;
    height: 28px;
    padding: 5px 5px;
    color: #353f48;
}

div.pagination.big a {
    width: 38px;
    height: 38px;
    padding: 9px 5px;
    color: #353f48;
    font-size: 17px;
}

div.pagination.small a {
    width: 23px;
    height: 23px;
    padding: 4px 5px;
    color: #353f48;
    font-size: 14px;
}

div.pagination a {
    float: left;
    display: block;
    text-decoration: none;
    background: #f3f3f3;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    font-size: 16px;
}

div.pagination a:hover {
    background: #4aa3df;
    border-top: 1px solid #4aa3df;
    border-bottom: 1px solid #4aa3df;
    border-right: 1px solid #4aa3df;
    color: #fff;
    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
}

div.pagination a.act {
    background: #2cc36b;
    border-top: 1px solid #2cc36b;
    border-bottom: 1px solid #2cc36b;
    border-right: 1px solid #2cc36b;
    color: #fff;
}

div.pagination a.act:hover {
    box-shadow: none;
}

div.pagination a svg {
    width: 10px;
    height: 11px;
}

div.pagination a svg path {
    fill: #353f48 !important;
}

div.pagination a:hover svg path {
    fill: #ffffff !important;
}

div.pagination a.prew {
    border-left: 1px solid #e3e3e3;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pagination a.prew:hover {
    border-left: 1px solid #4aa3df;
}

div.pagination a.prew svg {
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

div.pagination a.next {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navigation {
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #353f48;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: #f3f3f3;
    width: 150px;
    height: 28px;
    padding: 6px 10px;
    cursor: pointer;
    text-decoration: none;
}

.navigation:hover {
    background: #4aa3df;
    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
    color: #fff;
}

.navigation:hover span svg path {
    fill: #fff !important;
}

.navigation span {
    position: absolute;
}

.navigation span svg {
    width: 10px;
    height: 11px;
}

.navigation.prew span {
    left: 16px;
    top: 5px;
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.navigation.next span {
    right: 18px;
    top: 8px;
}

.navigation[data-role="disabled"] {
    color: #2c3e50;
    border: 1px solid #e3e3e3;
    padding: 6px 10px;
    cursor: not-allowed;
    background: #f3f3f3;
    color: #a3a3a3;
}

.navigation[data-role="disabled"] svg path {
    fill: #a3a3a3 !important;
}

.navigation[data-role="disabled"]:hover svg path {
    fill: #a3a3a3 !important;
}

.navigation[data-role="disabled"]:hover {
    box-shadow: none;
    background: #f3f3f3;
}

.navigation[data-role="disabled"]:active {
    background: #f3f3f3;
}

.navigation:disabled {
    color: #2c3e50;
    border: 1px solid #e3e3e3;
    padding: 6px 10px;
    cursor: not-allowed;
    background: #f3f3f3;
    color: #a3a3a3;
}

.navigation:disabledsvg path {
    fill: #a3a3a3 !important;
}

.navigation:disabled:hover svg path {
    fill: #a3a3a3 !important;
}

.navigation:disabled:hover {
    box-shadow: none;
    background: #f3f3f3;
}

.navigation:disabled:active {
    background: #f3f3f3;
}

.navigation.more {
    width: 65px;
    text-align: right;
}

.navigation.more span {
    left: 10px;
    top: 6px;
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
//
//table {
//    width: 100%;
//    border-collapse: inherit;
//    overflow: hidden;
//    border-radius: 4px;
//    margin-bottom: 20px;
//}
//
//table tr th {
//    background: #20282f;
//    color: #fff;
//    padding: 7px 10px;
//    border-top: 1px solid #51575d;
//    border-right: 1px solid #51575d;
//}
//
//table tr th:first-child {
//    border-left: 1px solid #51575d;
//}
//
//table tr td {
//    padding: 7px 10px;
//    font-size: 14px;
//    border-top: 1px solid #e4e4e4;
//    border-right: 1px solid #e4e4e4;
//}
//
//table tr td:first-child {
//    border-left: 1px solid #e4e4e4;
//}
//
//table tr th:nth-child(2) {
//    text-align: center;
//}
//
//table tr th:nth-child(3) {
//    text-align: center;
//}
//
//table tr td:nth-child(2) {
//    text-align: center;
//}
//
//table tr td:nth-child(3) {
//    text-align: center;
//}
//
//table tr:last-child td {
//    border-bottom: 1px solid #e4e4e4;
//}
//
//table tr:nth-child(even) {
//    background: #f8f8f8;
//}
//
//table tr:nth-child(odd) {
//    background: #fff;
//}


table {
  width: 100%;
  color: black;
     
  tr {
    &.active  {
          background: rgba(140, 214, 60, 0.31);
    }
    th {
      font-size: 14px;

      border-bottom: 1px solid #cecece;
      border-top: 1px solid #cecece;
      padding: 20px 30px;
      text-align: center;
      
      &:first-child {
        text-align: left;
      }
    }
    td {
      border-bottom: 1px solid #cecece;
      padding: 10px 30px;
      font-size: 20px;

    text-align: center;
      
      &:nth-child(1) {
    font-size: 16px;
        text-align: left;

        text-transform: none;
        
}
    

    }
    
    &:hover {
        background: #ff5a00;
        color: #fff;
      
      &:nth-child(1) {
    background: none;
    color: #000;
}
    }
  }
}





//.tabs {
//    position: relative;
//    margin: 0 auto;
//    width: 100%;
//    margin-bottom: 20px;
//}
//
//.tabs label {
//    color: #6b6b6b;
//    cursor: pointer;
//    display: block;
//    float: left;
//    width: 148px;
//    height: 28px;
//    line-height: 30px;
//    font-size: 14px;
//    position: relative;
//    top: 1px;
//    margin-right: 2px;
//    text-align: center;
//    border: 1px solid #e4e4e4;
//    border-bottom: none;
//    background: #f8f8f8;
//    font-family: $exo;
//    -webkit-border-top-left-radius: 4px;
//    -webkit-border-top-right-radius: 4px;
//    -moz-border-radius-topleft: 4px;
//    -moz-border-radius-topright: 4px;
//    border-top-left-radius: 4px;
//    border-top-right-radius: 4px;
//}
//
//.tabs input {
//    position: absolute;
//    left: -9999px;
//}
//
//#tab_1:checked ~ #tab_l1,
//#tab_2:checked ~ #tab_l2,
//#tab_3:checked ~ #tab_l3,
//#tab_5:checked ~ #tab_l4,
//#tab_5:checked ~ #tab_l5 {
//    background: #fff;
//    border-bottom: none;
//    z-index: 3;
//    top: 1px;
//    color: #20282f;
//}
//
//.tabs label:hover {
//    border: 1px solid #4aa3df;
//    background: #4aa3df;
//    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
//    color: #fff;
//}
//
//#tab_1:hover:checked ~ #tab_l1,
//#tab_2:hover:checked ~ #tab_l2,
//#tab_3:hover:checked ~ #tab_l3,
//#tab_5:hover:checked ~ #tab_l4,
//#tab_5:hover:checked ~ #tab_l5 {
//    border: 1px solid #4aa3df;
//    background: #4aa3df;
//    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
//    color: #fff;
//}

.tabs_cont {
    background: #fff;
    position: relative;
    z-index: 2;
    min-height: 230px;
    padding: 10px 10px;
    border-top: 1px solid #e4e4e4;
}

.tabs_cont > div {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5 {
    position: static;
    left: 0;
    opacity: 1;
}

nav.menu {
    margin-bottom: 20px;
    height: 30px;
}

nav.menu ul li {
    padding-left: 0;
    float: left;
    margin-bottom: 0px;
    height: 37px;
}

nav.menu ul li:before {
    display: none;
}

nav.menu ul li a {
    text-decoration: none;
    color: #353f48;
    font-size: 14px;
    min-width: 100px;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 4px 10px;
}

nav.menu ul li:hover > a {
    background: #4aa3df;
    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
    color: #fff;
}

nav.menu ul li.act a {
    color: #fff;
    background: #2cc36b;
}

nav.menu ul li.act:hover a {
    background: #4aa3df;
    box-shadow: inset 0px 0px 5px 0px rgba(44, 62, 80, 0.44);
    color: #fff;
}

nav.menu ul li.haveChildren {
    position: relative;
}

nav.menu ul li.haveChildren svg {
    width: 9px;
    height: 6px;
    margin-left: 10px;
}

nav.menu ul li.haveChildren:hover svg path {
    fill: #fff !important;
}

nav.menu ul li.haveChildren:hover svg {
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}

nav.menu ul li.haveChildren ul.sbmenu {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    display: block;
    top: 400%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    min-width: 200px;
}

nav.menu ul li.haveChildren ul.sbmenu:before,
nav.menu ul li.haveChildren ul.sbmenu:after {
    position: absolute;
    content: "";
    top: -6px;
    left: 10%;
}

nav.menu ul li.haveChildren ul.sbmenu:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ebebeb;
}

nav.menu ul li.haveChildren ul.sbmenu:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #fff;
    left: 11%;
    top: -3px;
}

nav.menu ul li.haveChildren ul.sbmenu li {
    float: none;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
    height: auto;
}

nav.menu ul li.haveChildren ul.sbmenu li a {
    width: 100%;
    text-align: left;
    border-radius: 0px;
}

nav.menu ul li.haveChildren ul.sbmenu li:first-child a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

nav.menu ul li.haveChildren ul.sbmenu li:last-child a {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav.menu ul li.haveChildren ul.sbmenu li:last-child {
    border-right: none;
}

nav.menu ul li.haveChildren:hover ul.sbmenu {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

nav.menu ul li.haveChildren ul.sbmenu span {
    color: #a4abb2;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 10px;
    padding: 5px 10px;
    display: block;
}

nav.menu[data-rolle="hirzontal"] {
    height: auto;
    display: table;
    width: auto;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-width: 202px;
}

nav.menu[data-rolle="hirzontal"] ul {
    margin-bottom: 0px;
}

nav.menu[data-rolle="hirzontal"] ul li {
    position: relative;
    float: none;
    height: 30px;
    border-bottom: 1px solid #ebebeb;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

nav.menu[data-rolle="hirzontal"] ul li:last-child {
    border-bottom: 0px;
}

nav.menu[data-rolle="hirzontal"] ul li a {
    border-radius: 0px;
    text-align: left;
    width: 100%;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren {
    position: relative;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren svg {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav.menu[data-rolle="hirzontal"] ul li:first-child a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

nav.menu[data-rolle="hirzontal"] ul li:last-child a {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu {
    position: relative;
    top: 0px;
    border: none;
    border-radius: 0px;
    visibility: visible;
    z-index: 2;
    display: none;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: #fff;
    min-width: 200px;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren.act ul.sbmenu {
    top: 0px;
    display: none;
    opacity: 1;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu li {
    background: #fff;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu li a {
    padding-left: 25px;
    border-radius: 0px;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu:after,
nav.menu[data-rolle="hirzontal"] ul li.haveChildren ul.sbmenu:before {
    display: none;
}

nav.menu[data-rolle="hirzontal"] ul li.haveChildren.act {
    height: auto;
}

nav.menu ul li.haveChildren ul.sbmenu[data-rolle="point"] li:before {
    display: block;
    background: none;
    content: "•";
    left: 10px;
    font-size: 16px;
    color: #20282f;
}

nav.menu ul li.haveChildren ul.sbmenu[data-rolle="point"] li:hover:before {
    color: #fff;
}

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    display: block;
    left: 200%;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    min-width: 200px;
}

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren:hover ul.submenuCld {
    left: 100%;
    visibility: visible;
    opacity: 1;
}

nav.menu[data-rolle="hirzontal"] ul li ul.submenuCld:before,
nav.menu[data-rolle="hirzontal"] ul li ul.submenuCld:after {
    position: absolute;
    content: "";
    top: 10%;
    left: -6px;
}

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld:before {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #ebebeb;
}

nav.menu[data-rolle="hirzontal"] ul li ul.sbmenu li.haveChildren ul.submenuCld:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #fff;
    top: 11%;
    left: -3px;
}