@import 'var';
@import 'reset';
@import 'uikit'; 
@import 'modal';      
@import 'owl.carousel';   
@import 'ion.rangeSlider';    
@import 'select2/core';      
@import 'typography';  
@import 'helpers';      
@import 'blocks';      
@import 'jscrollpane';          
      
//@import 'main';           
.tabs {  
    .button-view {    
        float: right;       
    }     
}   
             
.advantages {          
    .h6,
    .h1 {     
        margin-bottom: 20px;     
    }   
    .display-article {            
        float: left;      
        width: 50%;  
    }  
    img {   
        padding: 40px 50px;     
        border: 1px solid #bcbcbc;
    }   
    .info { 
        padding: 0px 20px 20px 0;  
    }   
}         
   
.cta-block {      
    .input {     
        input {     
            height: 49px;   
        }          
        .button {       
            flex-grow: 1;         
        }           
    }          
}     
       
.reviews-list {           
    .top-header {   
        margin-bottom: 25px;    
        transition: width 0.7s;
        padding: 20px 0; 
    }    
    .button {   
        margin-top: 25px;   
        float: right;    
    }     
} 
pre { 
    position: fixed;
    display: block;   
    coloR: #f1f1f1;
    background: rgba(51, 51, 51, 0.82);
    bottom: 0;
    left: 50px;
    padding: 20px;
    overflow: scroll;
    height: 500px;
    width: 500px;
    z-index: 1000;
}

.tablebodytext {
    display: none;
}  

.select2-results__message, .select2-results__options--nested {
    font-size: 1.3rem;
    box-shadow: 1px 5px 2px #ecece7;
}

.select2-results {
    box-shadow: 1px 5px 2px #ecece7;
}
