.select2-selection--multiple {
    cursor: text;
    height: 55px;
    background-color: #ecf7fb;
    outline: 0;

  &:focus {
//    border: 1px solid $focus-border-color;
  }
  
    .select2-results__message {
        font-size: 1.2rem
    }    
    
  .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
      width: 100%;
      height: 50px;
  }

  .select2-selection__clear {
    display: none; 
  }

  .select2-selection__choice {
background-color: #ecf7fb;
    cursor: default;
    height: 45px;
    color: #10495d;
    line-height: 45px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 10px;
    width: 95%;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .select2-selection__choice__remove {  
    color: #d41616;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    float: right;

    &:hover {
      color: $remove-hover-color;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
    }

    .select2-selection__choice {
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

&.select2-container--open {
  .select2-selection--multiple {
    }

  &.select2-container--above {
    .select2-selection--multiple {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--multiple {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
