.select2-dropdown {
    background-color: white;
    //  border: 1px solid #aaa;
    //  border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    &[aria-selected] {
        cursor: pointer;   
    }
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 5px 5px 11px;
    .select2-search__field {
        padding: 10px;
        width: 100%;
        //       border: 1px solid #bfe5f2;
        border-radius: 0px;
        padding-right: 25px;
        background: url(../img/icon-search.png) 98% no-repeat;
        box-sizing: border-box;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }
    &.select2-search--hide {
        display: none;
    }
}

.select2-container--classic .select2-selection--multiple {
    cursor: text;
    height: 55px;
    background-color: #ecf7fb;
    outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
    height: 45px;
    background: inherit;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {

}